# This is based on Markov model (Memoryless)
Memoryless models do not take into account the actions before and after the current action

# Import Libraries

In [1]:
import pandas as pd

# Get Data

In [2]:
cols_for_xt = ['minute', 'second', 'teamId', 'teamName', 'h_a',
               'x', 'y', 'expandedMinute', 'period', 'type', 'outcomeType', 'score',
               'playerId', 'playerName', 'endX', 'endY']

In [44]:
xt_df = pd.read_csv("../data/Premier League/2021-2022/event_data.csv", low_memory=False)

# Data Cleaning

## Keep only required columns
This is for memory management

In [5]:
xt_df.columns.values

array(['id', 'eventId', 'minute', 'second', 'teamId', 'teamName', 'h_a',
       'x', 'y', 'expandedMinute', 'period', 'type', 'outcomeType',
       'qualifiers', 'satisfiedEventsTypes', 'isTouch', 'matchId',
       'startDate', 'startTime', 'score', 'ftScore', 'htScore', 'etScore',
       'venueName', 'maxMinute', 'playerId', 'playerName', 'endX', 'endY',
       'relatedEventId', 'relatedPlayerId', 'blockedX', 'blockedY',
       'goalMouthZ', 'goalMouthY', 'isShot', 'isGoal', 'cardType',
       'shotBodyType', 'situation', 'shotSixYardBox', 'shotPenaltyArea',
       'shotOboxTotal', 'shotOpenPlay', 'shotCounter', 'shotSetPiece',
       'shotOffTarget', 'shotOnPost', 'shotOnTarget', 'shotsTotal',
       'shotBlocked', 'shotRightFoot', 'shotLeftFoot', 'shotHead',
       'shotObp', 'goalSixYardBox', 'goalPenaltyArea', 'goalObox',
       'goalOpenPlay', 'goalCounter', 'goalSetPiece', 'penaltyScored',
       'goalOwn', 'goalNormal', 'goalRightFoot', 'goalLeftFoot',
       'goalHead', 'goalObp', 'shortPassInaccurate', 'shortPassAccurate',
       'passCorner', 'passCornerAccurate', 'passCornerInaccurate',
       'passFreekick', 'passBack', 'passForward', 'passLeft', 'passRight',
       'keyPassLong', 'keyPassShort', 'keyPassCross', 'keyPassCorner',
       'keyPassThroughball', 'keyPassFreekick', 'keyPassThrowin',
       'keyPassOther', 'assistCross', 'assistCorner', 'assistThroughball',
       'assistFreekick', 'assistThrowin', 'assistOther', 'dribbleLost',
       'dribbleWon', 'challengeLost', 'interceptionWon', 'clearanceHead',
       'outfielderBlock', 'passCrossBlockedDefensive',
       'outfielderBlockedPass', 'offsideGiven', 'offsideProvoked',
       'foulGiven', 'foulCommitted', 'yellowCard', 'voidYellowCard',
       'secondYellow', 'redCard', 'turnover', 'dispossessed',
       'saveLowLeft', 'saveHighLeft', 'saveLowCentre', 'saveHighCentre',
       'saveLowRight', 'saveHighRight', 'saveHands', 'saveFeet',
       'saveObp', 'saveSixYardBox', 'savePenaltyArea', 'saveObox',
       'keeperDivingSave', 'standingSave', 'closeMissHigh',
       'closeMissHighLeft', 'closeMissHighRight', 'closeMissLeft',
       'closeMissRight', 'shotOffTargetInsideBox', 'touches', 'assist',
       'ballRecovery', 'clearanceEffective', 'clearanceTotal',
       'clearanceOffTheLine', 'dribbleLastman', 'errorLeadsToGoal',
       'errorLeadsToShot', 'intentionalAssist', 'interceptionAll',
       'interceptionIntheBox', 'keeperClaimHighLost',
       'keeperClaimHighWon', 'keeperClaimLost', 'keeperClaimWon',
       'keeperOneToOneWon', 'parriedDanger', 'parriedSafe', 'collected',
       'keeperPenaltySaved', 'keeperSaveInTheBox', 'keeperSaveTotal',
       'keeperSmother', 'keeperSweeperLost', 'keeperMissed',
       'passAccurate', 'passBackZoneInaccurate',
       'passForwardZoneAccurate', 'passInaccurate', 'passAccuracy',
       'cornerAwarded', 'passKey', 'passChipped', 'passCrossAccurate',
       'passCrossInaccurate', 'passLongBallAccurate',
       'passLongBallInaccurate', 'passThroughBallAccurate',
       'passThroughBallInaccurate', 'passThroughBallInacurate',
       'passFreekickAccurate', 'passFreekickInaccurate',
       'penaltyConceded', 'penaltyMissed', 'penaltyWon', 'passRightFoot',
       'passLeftFoot', 'passHead', 'sixYardBlock', 'tackleLastMan',
       'tackleLost', 'tackleWon', 'cleanSheetGK', 'cleanSheetDL',
       'cleanSheetDC', 'cleanSheetDR', 'cleanSheetDML', 'cleanSheetDMC',
       'cleanSheetDMR', 'cleanSheetML', 'cleanSheetMC', 'cleanSheetMR',
       'cleanSheetAML', 'cleanSheetAMC', 'cleanSheetAMR', 'cleanSheetFWL',
       'cleanSheetFW', 'cleanSheetFWR', 'cleanSheetSub',
       'goalConcededByTeamGK', 'goalConcededByTeamDL',
       'goalConcededByTeamDC', 'goalConcededByTeamDR',
       'goalConcededByTeamDML', 'goalConcededByTeamDMC',
       'goalConcededByTeamDMR', 'goalConcededByTeamML',
       'goalConcededByTeamMC', 'goalConcededByTeamMR',
       'goalConcededByTeamAML', 'goalConcededByTeamAMC',
       'goalConcededByTeamAMR', 'goalConcededByTeamFWL',
       'goalConcededByTeamFW', 'goalConcededByTeamFWR',
       'goalConcededByTeamSub', 'goalConcededOutsideBoxGoalkeeper',
       'goalScoredByTeamGK', 'goalScoredByTeamDL', 'goalScoredByTeamDC',
       'goalScoredByTeamDR', 'goalScoredByTeamDML', 'goalScoredByTeamDMC',
       'goalScoredByTeamDMR', 'goalScoredByTeamML', 'goalScoredByTeamMC',
       'goalScoredByTeamMR', 'goalScoredByTeamAML', 'goalScoredByTeamAMC',
       'goalScoredByTeamAMR', 'goalScoredByTeamFWL', 'goalScoredByTeamFW',
       'goalScoredByTeamFWR', 'goalScoredByTeamSub', 'aerialSuccess',
       'duelAerialWon', 'duelAerialLost', 'offensiveDuel',
       'defensiveDuel', 'bigChanceMissed', 'bigChanceScored',
       'bigChanceCreated', 'overrun', 'successfulFinalThirdPasses',
       'punches', 'penaltyShootoutScored',
       'penaltyShootoutMissedOffTarget', 'penaltyShootoutSaved',
       'penaltyShootoutSavedGK', 'penaltyShootoutConcededGK', 'throwIn',
       'subOn', 'subOff', 'defensiveThird', 'midThird', 'finalThird',
       'pos', 'EPV', 'isOwnGoal', 'shotDirectCorner'], dtype=object)

In [6]:
xt_df = xt_df[cols_for_xt]

# Calculate for 1 player as an example

## Get required team and player id

In [7]:
xt_df[["teamId", "teamName"]].drop_duplicates()

       teamId        teamName
0          13         Arsenal
1         189       Brentford
1518      162  Crystal Palace
1519       15         Chelsea
4804       19           Leeds
4805       32         Man Utd
6289       18     Southampton
6290       31         Everton
7733       26       Liverpool
7734      168         Norwich
9416       14       Leicester
9417      161          Wolves
11122     184         Burnley
11123     211        Brighton
12587      29        West Ham
12588      23       Newcastle
14097     167        Man City
14098      30       Tottenham
15625      24     Aston Villa
16814      27         Watford

In [8]:
xt_df.loc[xt_df["teamId"] == 26]

,minute,second,teamId,teamName,h_a,x,y,expandedMinute,period,type,outcomeType,score,playerId,playerName,endX,endY
7733,0,0.0,26,Liverpool,a,0.0,0.0,0,FirstHalf,Start,Successful,0 : 3,NaN,NaN,NaN,NaN
7741,0,20.0,26,Liverpool,a,39.8,11.2,0,FirstHalf,Aerial,Successful,0 : 3,74341.0,Joel Matip,NaN,NaN
7743,0,21.0,26,Liverpool,a,34.8,11.6,0,FirstHalf,Pass,Successful,0 : 3,74341.0,Joel Matip,42.1,2.9
7744,0,22.0,26,Liverpool,a,42.1,2.9,0,FirstHalf,BallRecovery,Successful,0 : 3,318871.0,Trent Alexander-Arnold,NaN,NaN
7745,0,22.0,26,Liverpool,a,42.1,2.9,0,FirstHalf,Pass,Unsuccessful,0 : 3,318871.0,Trent Alexander-Arnold,63.2,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332186,95,55.0,26,Liverpool,a,60.2,70.2,97,SecondHalf,Pass,Successful,1 : 3,68659.0,Jordan Henderson,70.6,49.6
332187,95,59.0,26,Liverpool,a,73.4,57.2,97,SecondHalf,Pass,Unsuccessful,1 : 3,262838.0,Takumi Minamino,80.9,48.5
332191,96,3.0,26,Liverpool,a,0.0,0.0,98,SecondHalf,End,Successful,1 : 3,NaN,NaN,NaN,NaN
332193,0,0.0,26,Liverpool,a,0.0,0.0,8,PostGame,End,Successful,1 : 3,NaN,NaN,NaN,NaN
332194,0,0.0,26,Liverpool,a,0.0,0.0,0,PreMatch,FormationSet,Successful,1 : 3,NaN,NaN,NaN,NaN

In [9]:
xt_df.loc[xt_df["teamId"] == 26][["playerId", "playerName"]].drop_duplicates()

        playerId               playerName
7733         NaN                      NaN
7741     74341.0               Joel Matip
7744    318871.0   Trent Alexander-Arnold
7748     84146.0  Alex Oxlade-Chamberlain
7751      4511.0             James Milner
7766    243510.0               Naby Keïta
7785    301455.0    Konstantinos Tsimikas
7794    108226.0            Mohamed Salah
7796    235755.0               Diogo Jota
7808     95408.0          Virgil van Dijk
7861    109915.0               Sadio Mané
7955    114147.0                  Alisson
8845     96182.0          Roberto Firmino
8847    115916.0                  Fabinho
9221    363982.0           Harvey Elliott
20089    68659.0         Jordan Henderson
21248    74939.0                   Thiago
21467   136451.0             Joseph Gomez
35374   115726.0         Andrew Robertson
64406   345957.0          Ibrahima Konaté
65722   355354.0             Curtis Jones
65879   124688.0             Divock Origi
110509  322176.0        Caoimhin Kelleher
112025  386969.0            Neco Williams
140545  262838.0          Takumi Minamino
175075  425568.0             Tyler Morton
315716  408662.0             Kaide Gordon

In [10]:
xt_df.loc[(xt_df["teamId"] == 26) & (xt_df["playerId"] == 318871)]

,minute,second,teamId,teamName,h_a,x,y,expandedMinute,period,type,outcomeType,score,playerId,playerName,endX,endY
7744,0,22.0,26,Liverpool,a,42.1,2.9,0,FirstHalf,BallRecovery,Successful,0 : 3,318871.0,Trent Alexander-Arnold,NaN,NaN
7745,0,22.0,26,Liverpool,a,42.1,2.9,0,FirstHalf,Pass,Unsuccessful,0 : 3,318871.0,Trent Alexander-Arnold,63.2,11.0
7806,2,48.0,26,Liverpool,a,24.5,5.2,2,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,21.3,28.5
7851,4,50.0,26,Liverpool,a,29.6,0.5,4,FirstHalf,BallRecovery,Successful,0 : 3,318871.0,Trent Alexander-Arnold,NaN,NaN
7852,4,53.0,26,Liverpool,a,36.1,0.8,4,FirstHalf,Pass,Unsuccessful,0 : 3,318871.0,Trent Alexander-Arnold,62.8,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331925,74,11.0,26,Liverpool,a,84.4,27.9,76,SecondHalf,Pass,Successful,1 : 3,318871.0,Trent Alexander-Arnold,97.0,68.7
331954,77,29.0,26,Liverpool,a,30.0,18.5,79,SecondHalf,Pass,Unsuccessful,1 : 3,318871.0,Trent Alexander-Arnold,77.1,0.0
332083,84,34.0,26,Liverpool,a,26.5,8.8,86,SecondHalf,BallRecovery,Successful,1 : 3,318871.0,Trent Alexander-Arnold,NaN,NaN
332084,84,36.0,26,Liverpool,a,28.7,7.1,86,SecondHalf,Pass,Successful,1 : 3,318871.0,Trent Alexander-Arnold,93.0,60.5
332104,91,2.0,26,Liverpool,a,0.0,0.0,93,SecondHalf,SubstitutionOff,Successful,1 : 3,318871.0,Trent Alexander-Arnold,NaN,NaN

## Keep only Successful passes

In [11]:
xt_df.loc[(xt_df["teamId"] == 26) & (xt_df["playerId"] == 318871) & (xt_df["type"] == "Pass") & (xt_df["outcomeType"] == "Successful")]

,minute,second,teamId,teamName,h_a,x,y,expandedMinute,period,type,outcomeType,score,playerId,playerName,endX,endY
7806,2,48.0,26,Liverpool,a,24.5,5.2,2,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,21.3,28.5
7856,5,13.0,26,Liverpool,a,55.8,0.0,5,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,41.7,9.7
7860,5,26.0,26,Liverpool,a,75.1,4.9,5,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,87.8,43.0
7886,6,51.0,26,Liverpool,a,64.6,0.0,6,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,57.6,10.7
7919,9,8.0,26,Liverpool,a,59.6,5.8,9,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,60.0,15.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331863,71,6.0,26,Liverpool,a,68.4,11.7,73,SecondHalf,Pass,Successful,1 : 3,318871.0,Trent Alexander-Arnold,91.2,11.0
331870,71,25.0,26,Liverpool,a,66.6,32.8,73,SecondHalf,Pass,Successful,1 : 3,318871.0,Trent Alexander-Arnold,78.2,11.0
331923,74,8.0,26,Liverpool,a,75.4,27.6,76,SecondHalf,Pass,Successful,1 : 3,318871.0,Trent Alexander-Arnold,89.7,25.2
331925,74,11.0,26,Liverpool,a,84.4,27.9,76,SecondHalf,Pass,Successful,1 : 3,318871.0,Trent Alexander-Arnold,97.0,68.7
332084,84,36.0,26,Liverpool,a,28.7,7.1,86,SecondHalf,Pass,Successful,1 : 3,318871.0,Trent Alexander-Arnold,93.0,60.5

## Finalize team, player and filter the data

In [12]:
team_id = 26
player_id = 318871
xt_player_df = xt_df.loc[(xt_df["teamId"] == team_id)
                         & (xt_df["playerId"] == player_id)
                         & (xt_df["type"] == "Pass")
                         & (xt_df["outcomeType"] == "Successful")].copy(deep=True)

In [13]:
xt_player_df.head()

,minute,second,teamId,teamName,h_a,x,y,expandedMinute,period,type,outcomeType,score,playerId,playerName,endX,endY
7806,2,48.0,26,Liverpool,a,24.5,5.2,2,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,21.3,28.5
7856,5,13.0,26,Liverpool,a,55.8,0.0,5,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,41.7,9.7
7860,5,26.0,26,Liverpool,a,75.1,4.9,5,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,87.8,43.0
7886,6,51.0,26,Liverpool,a,64.6,0.0,6,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,57.6,10.7
7919,9,8.0,26,Liverpool,a,59.6,5.8,9,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,60.0,15.6

## Get the xT grid

In [15]:
xt_grid_df = pd.read_csv("../data/xT_Grid.csv", header=None)
xt_grid_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.006383,0.007796,0.008449,0.009777,0.011263,0.012483,0.014736,0.017451,0.021221,0.027563,0.034851,0.037926
1,0.007501,0.008786,0.009424,0.010595,0.012147,0.013845,0.016118,0.018703,0.024015,0.029533,0.040670,0.046477
2,0.008880,0.009777,0.010013,0.011105,0.012692,0.014291,0.016856,0.019351,0.024122,0.028552,0.054911,0.064426
3,0.009411,0.010827,0.010165,0.011324,0.012626,0.014846,0.016895,0.019971,0.023851,0.035113,0.108051,0.257454
4,0.009411,0.010827,0.010165,0.011324,0.012626,0.014846,0.016895,0.019971,0.023851,0.035113,0.108051,0.257454
5,0.008880,0.009777,0.010013,0.011105,0.012692,0.014291,0.016856,0.019351,0.024122,0.028552,0.054911,0.064426
6,0.007501,0.008786,0.009424,0.010595,0.012147,0.013845,0.016118,0.018703,0.024015,0.029533,0.040670,0.046477
7,0.006383,0.007796,0.008449,0.009777,0.011263,0.012483,0.014736,0.017451,0.021221,0.027563,0.034851,0.037926

In [303]:
xt_grid_df.shape

(8, 12)

In [17]:
xt_rows = xt_grid_df.shape[0]
xt_cols = xt_grid_df.shape[1]

## Compute the bins

In [18]:
xt_player_df["x1_bin"] = pd.cut(xt_player_df["x"], bins=xt_cols, labels=False)
xt_player_df["y1_bin"] = pd.cut(xt_player_df["y"], bins=xt_rows, labels=False)
xt_player_df["x2_bin"] = pd.cut(xt_player_df["endX"], bins=xt_cols, labels=False)
xt_player_df["y2_bin"] = pd.cut(xt_player_df["endY"], bins=xt_rows, labels=False)

In [19]:
xt_player_df.head()

,minute,second,teamId,teamName,h_a,x,y,expandedMinute,period,type,outcomeType,score,playerId,playerName,endX,endY,x1_bin,y1_bin,x2_bin,y2_bin
7806,2,48.0,26,Liverpool,a,24.5,5.2,2,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,21.3,28.5,2,0,2,2
7856,5,13.0,26,Liverpool,a,55.8,0.0,5,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,41.7,9.7,6,0,4,0
7860,5,26.0,26,Liverpool,a,75.1,4.9,5,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,87.8,43.0,9,0,10,3
7886,6,51.0,26,Liverpool,a,64.6,0.0,6,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,57.6,10.7,7,0,6,0
7919,9,8.0,26,Liverpool,a,59.6,5.8,9,FirstHalf,Pass,Successful,0 : 3,318871.0,Trent Alexander-Arnold,60.0,15.6,7,0,7,1

In [20]:
xt_grid_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.006383,0.007796,0.008449,0.009777,0.011263,0.012483,0.014736,0.017451,0.021221,0.027563,0.034851,0.037926
1,0.007501,0.008786,0.009424,0.010595,0.012147,0.013845,0.016118,0.018703,0.024015,0.029533,0.040670,0.046477
2,0.008880,0.009777,0.010013,0.011105,0.012692,0.014291,0.016856,0.019351,0.024122,0.028552,0.054911,0.064426
3,0.009411,0.010827,0.010165,0.011324,0.012626,0.014846,0.016895,0.019971,0.023851,0.035113,0.108051,0.257454
4,0.009411,0.010827,0.010165,0.011324,0.012626,0.014846,0.016895,0.019971,0.023851,0.035113,0.108051,0.257454
5,0.008880,0.009777,0.010013,0.011105,0.012692,0.014291,0.016856,0.019351,0.024122,0.028552,0.054911,0.064426
6,0.007501,0.008786,0.009424,0.010595,0.012147,0.013845,0.016118,0.018703,0.024015,0.029533,0.040670,0.046477
7,0.006383,0.007796,0.008449,0.009777,0.011263,0.012483,0.014736,0.017451,0.021221,0.027563,0.034851,0.037926

In [21]:
xt_grid_df.loc[0, 2]

0.00844854

In [22]:
xt_player_df[["x1_bin", "y1_bin"]].apply(lambda x: xt_grid_df.loc[x[1], x[0]], axis=1)

7806      0.008449
7856      0.014736
7860      0.027563
7886      0.017451
7919      0.017451
            ...
331863    0.021221
331870    0.019351
331923    0.028552
331925    0.054911
332084    0.009777
Length: 1304, dtype: float64

## Calculate final xT value

In [23]:
xt_player_df["start_zone_xT"] = xt_player_df[["x1_bin", "y1_bin"]].apply(lambda x: xt_grid_df.loc[x[1], x[0]], axis=1)
xt_player_df["end_zone_xT"] = xt_player_df[["x2_bin", "y2_bin"]].apply(lambda x: xt_grid_df.loc[x[1], x[0]], axis=1)

In [24]:
xt_player_df["end_zone_xT"].sub(xt_player_df["start_zone_xT"])

7806      0.001565
7856     -0.003473
7860      0.080488
7886     -0.002715
7919      0.001253
            ...
331863    0.016705
331870    0.008212
331923    0.026359
331925    0.009515
332084    0.247677
Length: 1304, dtype: float64

In [25]:
player_xT = round(xt_player_df["end_zone_xT"].sub(xt_player_df["start_zone_xT"]).sum(), 4)
player_name = xt_player_df["playerName"].unique().item()
print("xT for", player_name, "=", player_xT)

xT for Trent Alexander-Arnold = 11.2784

# Compute xT for all players

## Keep all successful passes

In [26]:
xt_pass_df = xt_df.loc[(xt_df["type"] == "Pass")
                  & (xt_df["outcomeType"] == "Successful")].copy(deep=True)

## Compute the bins

In [27]:
xt_pass_df["x1_bin"] = pd.cut(xt_pass_df["x"], bins=xt_cols, labels=False)
xt_pass_df["y1_bin"] = pd.cut(xt_pass_df["y"], bins=xt_rows, labels=False)
xt_pass_df["x2_bin"] = pd.cut(xt_pass_df["endX"], bins=xt_cols, labels=False)
xt_pass_df["y2_bin"] = pd.cut(xt_pass_df["endY"], bins=xt_rows, labels=False)

# Calculate final xT for each player

In [28]:
xt_pass_df["start_zone_xT"] = xt_pass_df[["x1_bin", "y1_bin"]].apply(lambda x: xt_grid_df.loc[x[1], x[0]], axis=1)
xt_pass_df["end_zone_xT"] = xt_pass_df[["x2_bin", "y2_bin"]].apply(lambda x: xt_grid_df.loc[x[1], x[0]], axis=1)

In [29]:
# Check the subtraction
xt_pass_df["end_zone_xT"].sub(xt_pass_df["start_zone_xT"])

2        -0.002220
5         0.003881
6         0.005681
7        -0.012118
8         0.079499
            ...
336965    0.084200
336971   -0.008647
336972    0.012691
336973   -0.002794
336974   -0.002605
Length: 166975, dtype: float64

In [30]:
# Compute xT
xt_pass_df["xT"] = xt_pass_df["end_zone_xT"].sub(xt_pass_df["start_zone_xT"])

In [31]:
# Consolidate for every player individually
xt_pass_df.groupby(["playerId"]).agg({"playerName": "first",
                                 "teamName": "first",
                                 "xT": "sum"})

                 playerName     teamName        xT
playerId
4511.0         James Milner    Liverpool  1.314482
5583.0    Cristiano Ronaldo      Man Utd -0.365675
5625.0         Aaron Lennon      Burnley -0.023906
8166.0         Ashley Young  Aston Villa  0.378029
8247.0           Mark Noble     West Ham  0.064122
...                     ...          ...       ...
425603.0   Jeremy Sarmiento     Brighton -0.006490
425711.0       Lewis Dobbin      Everton  0.028316
429531.0      Kasey McAteer    Leicester -0.000589
429723.0      Jonathan Rowe      Norwich  0.036685
431283.0               Toti       Wolves  0.042982

[493 rows x 3 columns]

In [36]:
# Consolidate for every player individually
all_players_xT = xt_pass_df.groupby(["playerId"]).agg({"playerName": "first",
                                                  "teamName": "first",
                                                  "xT": "sum"})

In [37]:
all_players_xT["xT"].nlargest(10).index.values

array([318871., 128967.,  68648., 343346., 105172.,  79050.,  68049.,
       300447., 123761., 115726.])

In [38]:
all_players_xT.loc[all_players_xT["xT"].nlargest(10).index]

                      playerName     teamName         xT
playerId
318871.0  Trent Alexander-Arnold    Liverpool  10.412421
128967.0            João Cancelo     Man City   5.383667
68648.0             Matt Ritchie    Newcastle   5.229406
343346.0             Mason Mount      Chelsea   5.218320
105172.0       James Ward-Prowse  Southampton   5.175390
79050.0          Ashley Westwood      Burnley   5.100273
68049.0          Aaron Cresswell     West Ham   4.875411
300447.0                Raphinha        Leeds   4.875130
123761.0         Bruno Fernandes      Man Utd   4.726845
115726.0        Andrew Robertson    Liverpool   4.679784

# Computing the xT Grid
$xT_{x,y}=(s_{x,y} \times g_{x,y})+(m_{x,y} \times \displaystyle\sum_{z=1} ^{16}\sum_{w=1} ^{12} T_{(x,y)->(z,w)} \times xT_{z,w}))$

## xT Components

In [307]:
xt_cols = 16
xt_rows = 12

In [308]:
xt_df["type"].unique()

array(['Start', 'Pass', 'BallTouch', 'TakeOn', 'Tackle', 'CornerAwarded',
       'SavedShot', 'Save', 'KeeperPickup', 'Interception',
       'BallRecovery', 'Aerial', 'Foul', 'Dispossessed', 'Clearance',
       'BlockedPass', 'Claim', 'MissedShots', 'ShotOnPost', 'Goal',
       'OffsideGiven', 'OffsidePass', 'OffsideProvoked', 'Challenge',
       'ShieldBallOpp', 'End', 'SubstitutionOff', 'SubstitutionOn',
       'FormationChange', 'KeeperSweeper', 'FormationSet', 'Punch',
       'Smother', 'Card', 'Error', 'ChanceMissed', 'CrossNotClaimed',
       'GoodSkill', 'PenaltyFaced'], dtype=object)

In [309]:
xt_df.groupby(["type"])["type"].count()

type
Aerial              13766
BallRecovery        23139
BallTouch           14768
BlockedPass          3237
Card                  823
Challenge            4027
ChanceMissed            8
Claim                 344
Clearance            8443
CornerAwarded        4574
CrossNotClaimed        14
Dispossessed         3960
End                  1296
Error                 153
FormationChange       425
FormationSet          432
Foul                 8848
Goal                  607
GoodSkill              15
Interception         4171
KeeperPickup         2764
KeeperSweeper         209
MissedShots          1968
OffsideGiven          716
OffsidePass           716
OffsideProvoked       716
Pass               212354
PenaltyFaced           60
Punch                 173
Save                 2889
SavedShot            2922
ShieldBallOpp         200
ShotOnPost             83
Smother                46
Start                 864
SubstitutionOff      1203
SubstitutionOn       1203
Tackle               7121
TakeOn               7724
Name: type, dtype: int64

In [310]:
xt_df[xt_df["type"] == "Dispossessed"]["playerName"]

64                Ivan Toney
75          Emile Smith Rowe
97            Calum Chambers
132             Granit Xhaka
308       Gabriel Martinelli
                 ...
336777         Mateo Kovacic
336826         Romelu Lukaku
336859         Mateo Kovacic
336883            Harry Kane
336928             Bryan Gil
Name: playerName, Length: 3960, dtype: object

In [311]:
xt_df["dribbleWon"].unique()

array([False,  True])

In [312]:
xt_df[xt_df["dribbleWon"]]["type"].unique()

array(['TakeOn'], dtype=object)

In [313]:
xt_df["x1_bin"] = pd.cut(xt_df["x"], bins=xt_cols, labels=False)
xt_df["y1_bin"] = pd.cut(xt_df["y"], bins=xt_rows, labels=False)
xt_df["x2_bin"] = pd.cut(xt_df["endX"], bins=xt_cols, labels=False)
xt_df["y2_bin"] = pd.cut(xt_df["endY"], bins=xt_rows, labels=False)

In [314]:
xt_df[(xt_df["type"] == "Goal") & (xt_df["x1_bin"] == 0)]["playerName"].unique()

array(['Tim Krul', 'Francisco Sierralta', 'Lucas Digne', 'Jamie Vardy',
       'Matt Targett', 'Max Aarons', 'Eric Bailly', 'Alisson',
       'Sergi Canós', 'Álvaro Fernández', 'Joachim Andersen',
       'Michael Keane', 'Juraj Kucka'], dtype=object)

In [315]:
xt_df[(xt_df["type"] == "Goal") & (xt_df["playerName"] == "Tim Krul")]["isShot"].unique()

array([ True])

In [316]:
move_actions = ["Pass", "TakeOn"]
shoot_actions = ['SavedShot', 'MissedShots', 'ShotOnPost', 'Goal']
ms_actions = move_actions + shoot_actions

In [317]:
xt_df[(xt_df["type"] == "Goal") & (xt_df["isOwnGoal"] == True)].shape

(20, 267)

In [318]:
df1 = xt_df.groupby(["x1_bin", "y1_bin"]).agg({"type": lambda x: x.isin(move_actions).sum()})
df2 = xt_df.groupby(["x1_bin", "y1_bin"]).apply(lambda x: (x["isShot"] & (x["isOwnGoal"] != True)).sum())
df3 = xt_df.groupby(["x1_bin", "y1_bin"]).apply(lambda x: (x["isGoal"] & (x["isOwnGoal"] != True)).sum())
ms_df = pd.concat([df1, df2, df3], axis=1)
del df1, df2, df3

In [319]:
ms_df.head()

               type  0  1
x1_bin y1_bin
0      0        154  0  0
       1        139  0  0
       2        109  0  0
       3        224  0  0
       4        386  0  0

In [320]:
ms_df.columns = ["move_actions", "shoot_actions", "goals"]

In [321]:
ms_df.reset_index().head()

   x1_bin  y1_bin  move_actions  shoot_actions  goals
0       0       0           154              0      0
1       0       1           139              0      0
2       0       2           109              0      0
3       0       3           224              0      0
4       0       4           386              0      0

In [322]:
ms_df["ms_actions"] = ms_df["move_actions"].add(ms_df["shoot_actions"])

In [323]:
ms_df["move_prob"] = ms_df["move_actions"].divide(ms_df["ms_actions"])
ms_df["shoot_prob"] = ms_df["shoot_actions"].divide(ms_df["ms_actions"])

In [324]:
ms_df.reset_index().tail(10)

,x1_bin,y1_bin,move_actions,shoot_actions,goals,ms_actions,move_prob,shoot_prob
182,15,2,373,2,0,375,0.994667,0.005333
183,15,3,404,39,1,443,0.911964,0.088036
184,15,4,73,95,12,168,0.434524,0.565476
185,15,5,9,181,64,190,0.047368,0.952632
186,15,6,14,177,61,191,0.073298,0.926702
187,15,7,83,94,9,177,0.468927,0.531073
188,15,8,436,44,4,480,0.908333,0.091667
189,15,9,364,4,0,368,0.989130,0.010870
190,15,10,378,2,0,380,0.994737,0.005263
191,15,11,1446,0,0,1446,1.000000,0.000000

In [325]:
ms_df.reset_index(inplace=True)

### Move Probabiity
$m_{x,y}$

In [326]:
ms_df.pivot_table(values="move_prob", index="y1_bin", columns="x1_bin")

x1_bin,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
y1_bin,,,,,,,,,,,,,,,,
0,1.0,1.0,1.0,1.0,1.0,1.0,0.999497,1.000000,1.000000,1.000000,1.000000,0.999518,1.000000,1.000000,1.000000,1.000000
1,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,0.999266,1.000000,1.000000,0.999404,1.000000,0.998924,1.000000,1.000000
2,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999165,1.000000,1.000000,1.000000,0.998035,0.988273,0.980535,0.973109,0.994667
3,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,0.999455,0.999392,0.980449,0.868421,0.752964,0.731034,0.911964
4,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,0.998519,0.932981,0.736390,0.498721,0.420925,0.434524
5,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999511,0.998891,1.000000,0.997248,0.853796,0.576302,0.414980,0.119816,0.047368
6,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999496,1.000000,0.996190,0.992793,0.871514,0.625222,0.369697,0.113924,0.073298
7,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,0.998366,0.998580,0.922609,0.719892,0.528536,0.404255,0.468927
8,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,0.999425,0.999513,1.000000,0.974343,0.842055,0.720532,0.729201,0.908333
9,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999148,0.999196,1.000000,0.998773,0.994336,0.985931,0.962185,0.987281,0.989130
10,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999205,0.999283,0.999514,0.999457,1.000000,0.997778,0.995918,0.997579,0.994737
11,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999339,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [327]:
move_matrix = ms_df.pivot_table(values="move_prob", index="y1_bin", columns="x1_bin")

### Shoot Probabiity
$s_{x,y}$

In [328]:
ms_df.pivot_table(values="shoot_prob", index="y1_bin", columns="x1_bin").style.background_gradient()

In [329]:
shoot_matrix = ms_df.pivot_table(values="shoot_prob", index="y1_bin", columns="x1_bin")

### Move Transition Matrix
$T_{(x,y) -> (w,z)}$

In [330]:
ms_df["move_actions"].sum()

220078

In [331]:
1407/ms_df["move_actions"].sum()

0.0063931878697552685

In [332]:
ms_df["move_actions"].divide(ms_df["move_actions"].sum())

0      0.000700
1      0.000632
2      0.000495
3      0.001018
4      0.001754
         ...
187    0.000377
188    0.001981
189    0.001654
190    0.001718
191    0.006570
Name: move_actions, Length: 192, dtype: float64

In [333]:
ms_df["move_transition_prob"] = ms_df["move_actions"].divide(ms_df["move_actions"].sum())

In [334]:
ms_df.tail(10)

,x1_bin,y1_bin,move_actions,shoot_actions,goals,ms_actions,move_prob,shoot_prob,move_transition_prob
182,15,2,373,2,0,375,0.994667,0.005333,0.001695
183,15,3,404,39,1,443,0.911964,0.088036,0.001836
184,15,4,73,95,12,168,0.434524,0.565476,0.000332
185,15,5,9,181,64,190,0.047368,0.952632,0.000041
186,15,6,14,177,61,191,0.073298,0.926702,0.000064
187,15,7,83,94,9,177,0.468927,0.531073,0.000377
188,15,8,436,44,4,480,0.908333,0.091667,0.001981
189,15,9,364,4,0,368,0.989130,0.010870,0.001654
190,15,10,378,2,0,380,0.994737,0.005263,0.001718
191,15,11,1446,0,0,1446,1.000000,0.000000,0.006570

In [335]:
move_transition_matrix = ms_df.pivot_table(values="move_transition_prob", index="y1_bin", columns="x1_bin")

### Goal Probability Matrix
$g_{x,y}$

In [336]:
ms_df["goals"].divide(ms_df["shoot_actions"]).fillna(0)

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
         ...
187    0.095745
188    0.090909
189    0.000000
190    0.000000
191    0.000000
Length: 192, dtype: float64

In [337]:
ms_df["goal_prob"] = ms_df["goals"].divide(ms_df["shoot_actions"]).fillna(0)

In [338]:
ms_df.pivot_table(values="goal_prob", index="y1_bin", columns="x1_bin")

x1_bin,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
y1_bin,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.181818,0.000000,0.000000,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.074074,0.053846,0.032000,0.057692,0.025641
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.026316,0.027174,0.091837,0.109244,0.126316
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.019231,0.059322,0.124567,0.204188,0.353591
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.031008,0.042654,0.102564,0.159184,0.344633
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.011236,0.024155,0.063158,0.123016,0.095745
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.024096,0.006803,0.060241,0.090909
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.076923,0.000000,0.000000,0.000000
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.333333,0.250000,0.000000,0.000000
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000

In [339]:
goal_matrix = ms_df.pivot_table(values="goal_prob", index="y1_bin", columns="x1_bin")

## Computing final xT

### Iteration 1

In [340]:
import numpy as np

In [341]:
np.zeros(goal_matrix.shape)

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [342]:
xT_zw = np.random.random(goal_matrix.shape)

In [343]:
xT_zw

array([[0.70896152, 0.95682665, 0.81949958, 0.61923816, 0.10384886,
        0.09996426, 0.42003574, 0.93411672, 0.90758131, 0.38342275,
        0.03395173, 0.11356576, 0.12908122, 0.87074819, 0.4863891 ,
        0.08156489],
       [0.95017113, 0.9339    , 0.61448199, 0.98002227, 0.64790098,
        0.1994932 , 0.62470881, 0.40226674, 0.80651132, 0.84472095,
        0.7682546 , 0.00625849, 0.2873484 , 0.4756571 , 0.47703303,
        0.40721629],
       [0.9678671 , 0.37383119, 0.31596667, 0.23843488, 0.91420358,
        0.21464274, 0.9571214 , 0.51352041, 0.71605823, 0.54804736,
        0.90316887, 0.40679686, 0.84717902, 0.96923456, 0.40547698,
        0.15485974],
       [0.6922874 , 0.41484788, 0.07495404, 0.35710868, 0.1618726 ,
        0.71846708, 0.62292598, 0.82546695, 0.07886602, 0.36058478,
        0.54622964, 0.84982449, 0.81105761, 0.63383237, 0.62215191,
        0.31004429],
       [0.83796609, 0.77996013, 0.2589781 , 0.26761495, 0.24647185,
        0.91668113, 0.85014482, 0.64551775, 0.2908498 , 0.58822952,
        0.36768113, 0.09297255, 0.75089047, 0.8643696 , 0.84530822,
        0.85581959],
       [0.51859448, 0.40564619, 0.1988192 , 0.46620837, 0.66836605,
        0.67450727, 0.06631536, 0.72019545, 0.77058131, 0.67511621,
        0.19608648, 0.08345429, 0.99047302, 0.10355966, 0.89529363,
        0.00814993],
       [0.79321791, 0.188035  , 0.40340875, 0.42798351, 0.24166845,
        0.56704556, 0.34189177, 0.93900768, 0.44811295, 0.1069201 ,
        0.02063911, 0.83900696, 0.85457338, 0.87857725, 0.15489258,
        0.25536151],
       [0.24200651, 0.72578608, 0.83111838, 0.27097792, 0.37999629,
        0.55205065, 0.49302187, 0.93313549, 0.18077878, 0.36577293,
        0.81980131, 0.26759832, 0.18942979, 0.33615263, 0.52896034,
        0.61419037],
       [0.56089901, 0.3786232 , 0.29975647, 0.99812053, 0.52349299,
        0.09496931, 0.16997086, 0.62867289, 0.16721894, 0.2506379 ,
        0.04787178, 0.09081359, 0.55615586, 0.12835623, 0.77383426,
        0.95508371],
       [0.7598943 , 0.78130281, 0.17422886, 0.40738321, 0.58409381,
        0.43344477, 0.36699453, 0.57513042, 0.90588868, 0.56670699,
        0.10083891, 0.70369505, 0.85330924, 0.3608434 , 0.03060528,
        0.5753421 ],
       [0.11004695, 0.22984628, 0.23592381, 0.82081018, 0.94082806,
        0.84291117, 0.00302656, 0.18010619, 0.83184543, 0.37938359,
        0.91804745, 0.16849859, 0.94091979, 0.70934913, 0.08766325,
        0.62861925],
       [0.71633211, 0.86128931, 0.41711113, 0.66452858, 0.98779287,
        0.22710437, 0.38332885, 0.52709977, 0.30540936, 0.45118687,
        0.32015581, 0.66051334, 0.3091769 , 0.94931157, 0.54593404,
        0.23620722]])

In [344]:
list(zip(xt_df["x1_bin"], xt_df["y1_bin"]))

[(0, 0),
 (0, 0),
 (7, 5),
 (6, 5),
 (3, 3),
 (10, 6),
 (11, 5),
 (13, 1),
 (12, 3),
 (14, 7),
 (12, 11),
 (14, 10),
 (1, 1),
 (1, 1),
 (14, 10),
 (15, 11),
 (15, 10),
 (14, 10),
 (11, 10),
 (9, 6),
 (10, 3),
 (13, 10),
 (11, 6),
 (0, 5),
 (0, 5),
 (1, 5),
 (2, 9),
 (4, 11),
 (4, 8),
 (3, 4),
 (3, 8),
 (1, 6),
 (1, 2),
 (2, 0),
 (8, 9),
 (8, 0),
 (9, 1),
 (8, 1),
 (6, 8),
 (9, 3),
 (5, 7),
 (5, 7),
 (5, 11),
 (1, 7),
 (6, 2),
 (9, 9),
 (6, 3),
 (6, 11),
 (4, 9),
 (3, 4),
 (4, 1),
 (10, 10),
 (9, 10),
 (9, 10),
 (9, 10),
 (9, 9),
 (9, 9),
 (10, 8),
 (5, 3),
 (10, 8),
 (10, 7),
 (12, 10),
 (3, 1),
 (4, 0),
 (4, 0),
 (11, 11),
 (10, 11),
 (10, 11),
 (4, 4),
 (5, 4),
 (9, 9),
 (6, 8),
 (6, 4),
 (2, 10),
 (11, 0),
 (12, 1),
 (3, 10),
 (4, 9),
 (4, 9),
 (7, 7),
 (8, 4),
 (7, 8),
 (8, 4),
 (8, 5),
 (7, 9),
 (0, 5),
 (5, 2),
 (9, 11),
 (10, 10),
 (11, 11),
 (6, 0),
 (6, 0),
 (8, 10),
 (8, 11),
 (8, 11),
 (5, 0),
 (6, 0),
 (6, 1),
 (9, 10),
 (10, 11),
 (9, 10),
 (4, 0),
 (10, 11),
 (5, 0),
 (4, 0),
 (4, 1),
 (1, 6),
 (4, 7),
 (6, 2),
 (1, 6),
 (2, 6),
 (5, 1),
 (10, 10),
 (6, 1),
 (10, 11),
 (0, 5),
 (10, 3),
 (5, 8),
 (9, 3),
 (6, 3),
 (8, 7),
 (7, 8),
 (8, 3),
 (7, 7),
 (5, 8),
 (3, 5),
 (3, 3),
 (1, 6),
 (0, 10),
 (13, 1),
 (4, 11),
 (8, 1),
 (5, 11),
 (10, 0),
 (7, 11),
 (4, 0),
 (5, 1),
 (10, 10),
 (5, 2),
 (5, 2),
 (9, 3),
 (6, 8),
 (9, 3),
 (4, 7),
 (4, 7),
 (1, 5),
 (2, 9),
 (3, 7),
 (0, 6),
 (9, 5),
 (8, 2),
 (10, 4),
 (13, 3),
 (13, 3),
 (13, 3),
 (1, 5),
 (14, 6),
 (1, 5),
 (1, 6),
 (1, 2),
 (3, 0),
 (7, 8),
 (7, 8),
 (9, 8),
 (8, 7),
 (8, 7),
 (8, 3),
 (6, 4),
 (7, 4),
 (6, 2),
 (4, 3),
 (2, 6),
 (4, 2),
 (6, 5),
 (8, 5),
 (7, 11),
 (5, 8),
 (7, 3),
 (7, 1),
 (7, 5),
 (4, 2),
 (1, 3),
 (2, 6),
 (4, 10),
 (1, 9),
 (0, 8),
 (2, 8),
 (4, 2),
 (7, 6),
 (8, 5),
 (7, 6),
 (11, 9),
 (14, 9),
 (15, 8),
 (0, 3),
 (14, 6),
 (1, 5),
 (14, 6),
 (0, 5),
 (6, 4),
 (5, 7),
 (10, 4),
 (5, 7),
 (9, 4),
 (10, 4),
 (10, 4),
 (14, 3),
 (0, 5),
 (2, 11),
 (5, 1),
 (6, 0),
 (7, 0),
 (8, 11),
 (6, 0),
 (9, 11),
 (7, 11),
 (6, 9),
 (3, 4),
 (8, 3),
 (8, 3),
 (10, 3),
 (5, 9),
 (5, 8),
 (5, 8),
 (6, 6),
 (9, 5),
 (7, 6),
 (6, 4),
 (5, 2),
 (2, 6),
 (7, 0),
 (4, 2),
 (5, 6),
 (6, 2),
 (7, 0),
 (6, 2),
 (7, 2),
 (6, 3),
 (6, 2),
 (8, 0),
 (10, 0),
 (9, 1),
 (12, 3),
 (14, 3),
 (1, 7),
 (0, 7),
 (15, 4),
 (15, 0),
 (0, 6),
 (9, 2),
 (8, 6),
 (11, 11),
 (12, 11),
 (10, 10),
 (7, 7),
 (10, 10),
 (9, 9),
 (10, 8),
 (9, 7),
 (11, 1),
 (12, 0),
 (10, 1),
 (10, 2),
 (10, 6),
 (10, 8),
 (11, 9),
 (12, 10),
 (11, 9),
 (11, 10),
 (13, 11),
 (11, 9),
 (9, 9),
 (11, 11),
 (12, 11),
 (11, 11),
 (12, 11),
 (8, 10),
 (7, 3),
 (8, 2),
 (11, 2),
 (11, 5),
 (11, 8),
 (14, 9),
 (13, 3),
 (1, 6),
 (8, 0),
 (6, 0),
 (6, 5),
 (8, 8),
 (9, 8),
 (8, 8),
 (9, 9),
 (11, 9),
 (13, 10),
 (12, 9),
 (14, 10),
 (14, 5),
 (1, 6),
 (14, 5),
 (1, 6),
 (7, 0),
 (8, 11),
 (7, 0),
 (7, 11),
 (10, 9),
 (5, 0),
 (5, 10),
 (6, 11),
 (6, 11),
 (9, 0),
 (6, 11),
 (6, 10),
 (6, 11),
 (6, 3),
 (8, 9),
 (5, 8),
 (5, 8),
 (1, 7),
 (5, 5),
 (10, 6),
 (6, 5),
 (8, 4),
 (7, 3),
 (7, 2),
 (6, 2),
 (8, 10),
 (10, 0),
 (4, 10),
 (11, 1),
 (3, 10),
 (11, 1),
 (3, 10),
 (11, 2),
 (14, 0),
 (14, 4),
 (2, 8),
 (13, 3),
 (15, 3),
 (0, 7),
 (0, 8),
 (5, 3),
 (5, 3),
 (4, 6),
 (5, 8),
 (5, 8),
 (2, 6),
 (5, 0),
 (6, 1),
 (5, 4),
 (4, 8),
 (4, 10),
 (3, 8),
 (2, 6),
 (3, 0),
 (3, 2),
 (10, 10),
 (10, 10),
 (10, 10),
 (13, 10),
 (2, 1),
 (12, 10),
 (15, 10),
 (0, 1),
 (15, 10),
 (0, 1),
 (15, 11),
 (1, 6),
 (10, 5),
 (5, 4),
 (12, 9),
 (15, 8),
 (1, 5),
 (0, 3),
 (0, 3),
 (11, 9),
 (13, 9),
 (13, 8),
 (8, 5),
 (10, 10),
 (1, 2),
 (13, 11),
 (1, 2),
 (1, 0),
 (1, 0),
 (5, 1),
 (11, 9),
 (11, 9),
 (3, 6),
 (3, 6),
 (5, 6),
 (7, 5),
 (7, 5),
 (9, 1),
 (9, 3),
 (9, 1),
 (8, 3),
 (9, 8),
 (5, 1),
 (6, 1),
 (7, 2),
 (3, 7),
 (3, 7),
 (1, 5),
 (5, 1),
 (6, 2),
 (5, 5),
 (11, 3),
 (8, 3),
 (10, 0),
 (5, 11),
 (5, 10),
 (5, 10),
 (4, 10),
 (6, 2),
 (6, 0),
 (6, 0),
 (4, 11),
 (1, 9),
 (8, 1),
 (10, 0),
 (4, 7),
 (4, 9),
 (3, 4),
 (3, 2),
 (5, 0),
 (10, 11),
 (5, 0),
 (10, 11),
 (13, 9),
 (2, 0),
 (4, 2),
 (5, 10),
 (3, 9),
 (3, 10),
 (3, 10),
 (0, 8),
 (3, 9),
 (2, 10),
 (7, 0),
 (7, 11),
 (9, 10),
 (6, 1),
 (9, 10),
 (3, 2),
 (9, 11),
 (3, 3),
 (11, 5),
 (4, 6),
 (11, 6),
 (11, 4),
 (13, 5),
 (12, 5),
 (0, 5),
 (8, 10),
 (7, 1),
 (8, 9),
 (6, 0),
 (7, 11),
 (8, 0),
 (7, 11),
 (6, 8),
 (6, 8),
 (6, 3),
 (6, 3),
 (9, 8),
 (6, 3),
 (6, 3),
 (9, 8),
 (6, 3),
 (8, 0),
 (7, 10),
 (9, 1),
 (8, 1),
 (5, 8),
 (8, 2),
 (7, 9),
 (8, 2),
 (7, 2),
 (5, 2),
 (4, 4),
 (2, 6),
 (2, 5),
 (2, 1),
 (3, 0),
 (1, 2),
 (5, 1),
 (6, 0),
 (6, 1),
 (9, 11),
 (5, 1),
 (13, 4),
 (2, 7),
 (14, 4),
 (0, 5),
 (1, 9),
 (0, 6),
 (4, 6),
 (6, 4),
 (9, 7),
 (6, 3),
 (6, 3),
 (7, 0),
 (8, 8),
 (7, 3),
 (7, 3),
 (10, 5),
 (11, 8),
 (14, 9),
 (14, 6),
 (1, 6),
 (14, 6),
 (0, 6),
 (10, 8),
 (5, 3),
 (9, 9),
 (5, 3),
 (10, 7),
 (3, 3),
 (4, 1),
 (6, 1),
 (8, 0),
 (8, 1),
 (7, 9),
 (7, 9),
 (10, 9),
 (11, 9),
 (9, 9),
 (9, 9),
 (7, 6),
 (8, 3),
 (9, 0),
 (9, 2),
 (9, 3),
 (10, 1),
 (10, 2),
 (11, 2),
 (12, 0),
 (11, 2),
 (10, 9),
 (9, 7),
 (10, 4),
 (9, 8),
 (9, 6),
 (9, 3),
 (7, 4),
 (6, 3),
 (2, 4),
 (6, 8),
 (9, 9),
 (11, 5),
 (13, 3),
 (0, 5),
 (4, 11),
 (3, 11),
 (6, 2),
 (9, 9),
 (6, 2),
 (9, 9),
 (2, 1),
 (2, 1),
 (2, 3),
 (3, 8),
 (3, 6),
 (3, 8),
 (1, 8),
 (8, 3),
 (7, 5),
 (3, 9),
 (12, 2),
 (13, 2),
 (2, 9),
 (3, 9),
 (4, 9),
 (11, 2),
 (4, 9),
 (5, 8),
 (10, 3),
 (5, 8),
 (4, 5),
 (6, 2),
 (6, 3),
 (6, 2),
 (6, 4),
 (6, 1),
 (5, 4),
 (8, 5),
 (9, 6),
 (6, 5),
 (9, 7),
 (10, 9),
 (12, 11),
 (11, 9),
 (10, 9),
 (7, 5),
 (9, 2),
 (10, 0),
 (8, 1),
 (7, 4),
 (7, 2),
 (4, 6),
 (2, 7),
 (3, 5),
 (12, 5),
 (12, 5),
 (11, 3),
 (11, 3),
 (13, 5),
 (1, 2),
 (1, 2),
 (3, 1),
 (2, 4),
 (0, 5),
 (3, 1),
 (4, 2),
 (4, 1),
 (5, 4),
 (9, 9),
 (13, 10),
 (2, 1),
 (14, 11),
 (15, 9),
 (0, 1),
 (13, 8),
 (0, 6),
 (3, 9),
 (12, 1),
 (0, 6),
 (1, 3),
 (0, 6),
 (3, 9),
 (3, 7),
 (6, 2),
 (7, 1),
 (8, 3),
 (1, 5),
 (1, 5),
 (4, 6),
 (5, 5),
 (5, 2),
 (10, 8),
 (5, 4),
 (3, 0),
 (3, 0),
 (1, 5),
 (1, 9),
 (8, 2),
 (9, 2),
 (11, 0),
 (11, 1),
 (9, 7),
 (12, 10),
 (1, 6),
 (14, 11),
 (1, 4),
 (10, 11),
 (9, 0),
 (5, 2),
 (4, 5),
 (7, 8),
 (6, 5),
 (13, 2),
 (11, 5),
 (11, 7),
 (14, 10),
 (14, 6),
 (1, 5),
 (14, 6),
 (1, 6),
 (1, 6),
 (2, 6),
 (5, 4),
 (10, 7),
 (5, 4),
 (6, 2),
 (6, 4),
 (8, 10),
 (9, 8),
 (8, 9),
 (6, 4),
 (8, 2),
 (0, 0),
 (0, 5),
 (5, 6),
 (10, 5),
 (5, 5),
 (10, 5),
 (12, 4),
 (11, 6),
 (13, 8),
 (10, 7),
 (12, 7),
 (13, 9),
 (0, 5),
 (6, 9),
 (9, 2),
 (7, 9),
 (9, 8),
 (5, 4),
 (5, 7),
 (8, 3),
 (6, 6),
 (6, 5),
 (9, 10),
 (9, 11),
 (8, 10),
 (6, 8),
 (6, 4),
 (8, 2),
 (7, 3),
 (11, 5),
 (4, 8),
 (10, 6),
 (5, 5),
 (10, 6),
 (11, 10),
 (9, 9),
 (9, 6),
 (11, 2),
 (12, 2),
 (11, 3),
 (14, 4),
 (13, 4),
 (1, 7),
 (3, 8),
 (4, 9),
 (11, 2),
 (4, 9),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (8, 5),
 (4, 5),
 (12, 8),
 (3, 2),
 (3, 2),
 (1, 2),
 (10, 9),
 (10, 9),
 (11, 11),
 (2, 0),
 (11, 11),
 (1, 5),
 (14, 6),
 (1, 5),
 (14, 7),
 (1, 3),
 (12, 8),
 (0, 4),
 (2, 4),
 (5, 11),
 (3, 10),
 (6, 1),
 (9, 10),
 (6, 0),
 (10, 9),
 (5, 2),
 (5, 2),
 (5, 2),
 (7, 1),
 (6, 0),
 (6, 11),
 (7, 10),
 (5, 11),
 (3, 10),
 (0, 5),
 (1, 2),
 (2, 0),
 (12, 11),
 (11, 10),
 (11, 10),
 (12, 11),
 (3, 0),
 (11, 11),
 (0, 0),
 (2, 0),
 (10, 11),
 (4, 1),
 (11, 10),
 (4, 1),
 (10, 10),
 (8, 11),
 (7, 0),
 (11, 1),
 (10, 3),
 (11, 6),
 (14, 9),
 (0, 5),
 (2, 5),
 (10, 6),
 (5, 5),
 (11, 6),
 (11, 6),
 (11, 9),
 (4, 3),
 (4, 3),
 (5, 0),
 (2, 1),
 (5, 4),
 (10, 8),
 (12, 11),
 (2, 1),
 (1, 1),
 (11, 10),
 (9, 9),
 (10, 7),
 (11, 3),
 (13, 1),
 (11, 3),
 (4, 8),
 (11, 3),
 (3, 8),
 (2, 4),
 (4, 10),
 (4, 10),
 (6, 2),
 (7, 10),
 (6, 11),
 (4, 9),
 (2, 6),
 (3, 2),
 (5, 1),
 (6, 4),
 (8, 8),
 (10, 4),
 (12, 4),
 (0, 10),
 (0, 10),
 (14, 1),
 (12, 1),
 (11, 0),
 (12, 1),
 (10, 2),
 (9, 6),
 (9, 8),
 (11, 7),
 (1, 5),
 (1, 5),
 (2, 3),
 (7, 6),
 (7, 8),
 (7, 8),
 (13, 6),
 (0, 5),
 (1, 8),
 (4, 10),
 (1, 9),
 (8, 0),
 (5, 2),
 (9, 9),
 (11, 11),
 (4, 0),
 (9, 11),
 (4, 0),
 (10, 11),
 (5, 3),
 (10, 8),
 (11, 7),
 (11, 4),
 (0, 5),
 (1, 5),
 (3, 1),
 (10, 5),
 (14, 3),
 (1, 8),
 (14, 2),
 (1, 8),
 (14, 2),
 (13, 2),
 (1, 5),
 (10, 10),
 (6, 4),
 (8, 2),
 (8, 3),
 (9, 0),
 (8, 2),
 (5, 4),
 (3, 7),
 (5, 6),
 (4, 8),
 (2, 7),
 (4, 6),
 (2, 3),
 (1, 6),
 (4, 11),
 (7, 11),
 (8, 0),
 (6, 11),
 (3, 9),
 (4, 10),
 (1, 9),
 (8, 10),
 (8, 1),
 (8, 0),
 (7, 11),
 (8, 0),
 (7, 3),
 (5, 8),
 (4, 5),
 (9, 0),
 (6, 11),
 (9, 0),
 (6, 8),
 (6, 8),
 (8, 11),
 (6, 0),
 (9, 11),
 (6, 0),
 (6, 0),
 (9, 11),
 (6, 0),
 (5, 0),
 (4, 10),
 (11, 5),
 (14, 9),
 (14, 2),
 (12, 4),
 (14, 4),
 (1, 6),
 (1, 7),
 (15, 0),
 (1, 11),
 (10, 1),
 (4, 8),
 (5, 8),
 (6, 2),
 (5, 3),
 (6, 7),
 (10, 9),
 (5, 2),
 (10, 9),
 (1, 3),
 (13, 11),
 (12, 11),
 (13, 11),
 (2, 7),
 (11, 3),
 (11, 1),
 (10, 2),
 (10, 2),
 (12, 2),
 (12, 1),
 (10, 1),
 (9, 4),
 (10, 8),
 (12, 11),
 (12, 9),
 (13, 5),
 (2, 5),
 (11, 7),
 (4, 4),
 (11, 7),
 (13, 6),
 (2, 5),
 (10, 6),
 (8, 5),
 (11, 1),
 (3, 8),
 (15, 3),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 6),
 (9, 0),
 (9, 6),
 (10, 8),
 (11, 10),
 (10, 9),
 (11, 9),
 (2, 3),
 (3, 2),
 (3, 2),
 (12, 9),
 (4, 2),
 (14, 11),
 (14, 11),
 (13, 10),
 (2, 2),
 (13, 9),
 (10, 8),
 (5, 4),
 (5, 4),
 (6, 8),
 (6, 8),
 (1, 7),
 (6, 9),
 (8, 5),
 (10, 2),
 (13, 1),
 (11, 2),
 (12, 2),
 (11, 4),
 (0, 6),
 (0, 6),
 (1, 5),
 (2, 5),
 (5, 8),
 (12, 1),
 (4, 10),
 ...]

In [345]:
xt_df["start_xy"] = list(zip(xt_df["x1_bin"], xt_df["y1_bin"]))
xt_df["end_xy"] = list(zip(xt_df["x2_bin"], xt_df["y2_bin"]))

In [346]:
xt_df["start_xy"]

0         (0, 0)
1         (0, 0)
2         (7, 5)
3         (6, 5)
4         (3, 3)
           ...
336976    (0, 0)
336977    (0, 0)
336978    (0, 0)
336979    (0, 0)
336980    (0, 0)
Name: start_xy, Length: 336981, dtype: object

In [347]:
xt_df[(xt_df["end_xy"] == (0, 0))].groupby(["x1_bin", "y1_bin"]).agg({"type": lambda x: x.isin(move_actions).sum()}).reset_index()

    x1_bin  y1_bin  type
0        0       0    23
1        0       1     1
2        0       2     4
3        0       3     3
4        0       4     1
5        0       5     1
6        1       0     9
7        1       1     0
8        1       2     0
9        1       3     1
10       1       4     0
11       1       5     0
12       1       6     0
13       2       0     1
14       2       1     1
15       2       3     0
16       2       6     0
17       3       1     0
18       3       2     0
19       3       3     1
20       4       0     1
21       4       1     1

In [348]:
df = xt_df[(xt_df["end_xy"] == (0, 0))].groupby(["x1_bin", "y1_bin"]).agg({"type": lambda x: x.isin(move_actions).sum()}).reset_index()

In [349]:
df

    x1_bin  y1_bin  type
0        0       0    23
1        0       1     1
2        0       2     4
3        0       3     3
4        0       4     1
5        0       5     1
6        1       0     9
7        1       1     0
8        1       2     0
9        1       3     1
10       1       4     0
11       1       5     0
12       1       6     0
13       2       0     1
14       2       1     1
15       2       3     0
16       2       6     0
17       3       1     0
18       3       2     0
19       3       3     1
20       4       0     1
21       4       1     1

In [350]:
df["move_prob"] = df["type"].divide(df["type"].sum())

In [351]:
df["move_prob"]

0     0.479167
1     0.020833
2     0.083333
3     0.062500
4     0.020833
5     0.020833
6     0.187500
7     0.000000
8     0.000000
9     0.020833
10    0.000000
11    0.000000
12    0.000000
13    0.020833
14    0.020833
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.020833
20    0.020833
21    0.020833
Name: move_prob, dtype: float64

In [352]:
df.pivot_table(values="type", index="y1_bin", columns="x1_bin")

x1_bin     0    1    2    3    4
y1_bin
0       23.0  9.0  1.0  NaN  1.0
1        1.0  0.0  1.0  0.0  1.0
2        4.0  0.0  NaN  0.0  NaN
3        3.0  1.0  0.0  1.0  NaN
4        1.0  0.0  NaN  NaN  NaN
5        1.0  0.0  NaN  NaN  NaN
6        NaN  0.0  0.0  NaN  NaN

In [353]:
t_xy_zw_final = pd.DataFrame(np.zeros([xt_rows, xt_cols]), index=range(xt_rows), columns=range(xt_cols))
t_xy_zw_final

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [354]:
pd.DataFrame(df.pivot_table(values="move_prob", index="y1_bin", columns="x1_bin"),
             index=range(xt_rows), columns=range(xt_cols))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.479167,0.187500,0.020833,NaN,0.020833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.020833,0.000000,0.020833,0.000000,0.020833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.083333,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.062500,0.020833,0.000000,0.020833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.020833,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.020833,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [355]:
t_xy_zw = pd.DataFrame(df.pivot_table(values="type", index="y1_bin", columns="x1_bin"),
             index=range(xt_rows), columns=range(xt_cols))

In [356]:
t_xy_zw_final.add(t_xy_zw)

      0    1    2    3    4   5   6   7   8   9   10  11  12  13  14  15
0   23.0  9.0  1.0  NaN  1.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1    1.0  0.0  1.0  0.0  1.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2    4.0  0.0  NaN  0.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3    3.0  1.0  0.0  1.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4    1.0  0.0  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
5    1.0  0.0  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
6    NaN  0.0  0.0  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
7    NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
8    NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
9    NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
10   NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
11   NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [357]:
t_xy_zw_final

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [358]:
xT_zw

array([[0.70896152, 0.95682665, 0.81949958, 0.61923816, 0.10384886,
        0.09996426, 0.42003574, 0.93411672, 0.90758131, 0.38342275,
        0.03395173, 0.11356576, 0.12908122, 0.87074819, 0.4863891 ,
        0.08156489],
       [0.95017113, 0.9339    , 0.61448199, 0.98002227, 0.64790098,
        0.1994932 , 0.62470881, 0.40226674, 0.80651132, 0.84472095,
        0.7682546 , 0.00625849, 0.2873484 , 0.4756571 , 0.47703303,
        0.40721629],
       [0.9678671 , 0.37383119, 0.31596667, 0.23843488, 0.91420358,
        0.21464274, 0.9571214 , 0.51352041, 0.71605823, 0.54804736,
        0.90316887, 0.40679686, 0.84717902, 0.96923456, 0.40547698,
        0.15485974],
       [0.6922874 , 0.41484788, 0.07495404, 0.35710868, 0.1618726 ,
        0.71846708, 0.62292598, 0.82546695, 0.07886602, 0.36058478,
        0.54622964, 0.84982449, 0.81105761, 0.63383237, 0.62215191,
        0.31004429],
       [0.83796609, 0.77996013, 0.2589781 , 0.26761495, 0.24647185,
        0.91668113, 0.85014482, 0.64551775, 0.2908498 , 0.58822952,
        0.36768113, 0.09297255, 0.75089047, 0.8643696 , 0.84530822,
        0.85581959],
       [0.51859448, 0.40564619, 0.1988192 , 0.46620837, 0.66836605,
        0.67450727, 0.06631536, 0.72019545, 0.77058131, 0.67511621,
        0.19608648, 0.08345429, 0.99047302, 0.10355966, 0.89529363,
        0.00814993],
       [0.79321791, 0.188035  , 0.40340875, 0.42798351, 0.24166845,
        0.56704556, 0.34189177, 0.93900768, 0.44811295, 0.1069201 ,
        0.02063911, 0.83900696, 0.85457338, 0.87857725, 0.15489258,
        0.25536151],
       [0.24200651, 0.72578608, 0.83111838, 0.27097792, 0.37999629,
        0.55205065, 0.49302187, 0.93313549, 0.18077878, 0.36577293,
        0.81980131, 0.26759832, 0.18942979, 0.33615263, 0.52896034,
        0.61419037],
       [0.56089901, 0.3786232 , 0.29975647, 0.99812053, 0.52349299,
        0.09496931, 0.16997086, 0.62867289, 0.16721894, 0.2506379 ,
        0.04787178, 0.09081359, 0.55615586, 0.12835623, 0.77383426,
        0.95508371],
       [0.7598943 , 0.78130281, 0.17422886, 0.40738321, 0.58409381,
        0.43344477, 0.36699453, 0.57513042, 0.90588868, 0.56670699,
        0.10083891, 0.70369505, 0.85330924, 0.3608434 , 0.03060528,
        0.5753421 ],
       [0.11004695, 0.22984628, 0.23592381, 0.82081018, 0.94082806,
        0.84291117, 0.00302656, 0.18010619, 0.83184543, 0.37938359,
        0.91804745, 0.16849859, 0.94091979, 0.70934913, 0.08766325,
        0.62861925],
       [0.71633211, 0.86128931, 0.41711113, 0.66452858, 0.98779287,
        0.22710437, 0.38332885, 0.52709977, 0.30540936, 0.45118687,
        0.32015581, 0.66051334, 0.3091769 , 0.94931157, 0.54593404,
        0.23620722]])

In [359]:
xT_zw = np.zeros(goal_matrix.shape)
t_xy_zw_final = pd.DataFrame(np.zeros([xt_rows, xt_cols]), index=range(xt_rows), columns=range(xt_cols))
for z in range(xt_cols):
    for w in range(xt_rows):
        df = xt_df[(xt_df["end_xy"] == (z, w))].groupby(["x1_bin", "y1_bin"]).agg({"type": lambda x: x.isin(move_actions).sum()}).reset_index()
        df["move_prob"] = df["type"].divide(df["type"].sum())
        t_xy_zw = pd.DataFrame(df.pivot_table(values="move_prob", index="y1_bin", columns="x1_bin"),
                               index=range(xt_rows), columns=range(xt_cols))
        t_xy_zw_final = t_xy_zw_final + (t_xy_zw.multiply(xT_zw, fill_value=0))
t_xy_zw_final

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [360]:
t_xy_zw_final.sum().sum()

0.0

# 5 iterations

In [361]:
import time

In [362]:
time.clock()

18903.7719009

In [363]:
start_time = time.clock()
xt_cols=16; xt_rows=12
tot_iterations = 5
xT_zw = pd.DataFrame(np.zeros(goal_matrix.shape))
for n_iter in range(tot_iterations):
    print("Iteration no.", n_iter+1)
    t_xy_zw_final = pd.DataFrame(np.zeros([xt_rows, xt_cols]), index=range(xt_rows), columns=range(xt_cols))
    for z in range(xt_cols):
        for w in range(xt_rows):
            df = xt_df[(xt_df["end_xy"] == (z, w))].groupby(["x1_bin", "y1_bin"]).agg({"type": lambda x: x.isin(move_actions).sum()}).reset_index()
            df["move_prob"] = df["type"].divide(df["type"].sum())
            t_xy_zw = pd.DataFrame(df.pivot_table(values="move_prob", index="y1_bin", columns="x1_bin"),
                                   index=range(xt_rows), columns=range(xt_cols))
            t_xy_zw_final = t_xy_zw_final + (t_xy_zw * xT_zw.iloc[w,z]).fillna(0)
    print(t_xy_zw_final)
    xT_final = (shoot_matrix*goal_matrix)+(move_matrix*t_xy_zw_final)
    print(xT_final)
    xT_zw = xT_final
stop_time = time.clock()
print(stop_time-start_time)

Iteration no. 1
     0    1    2    3    4    5    6    7    8    9    10   11   12   13   14  \
0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

     15
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0
5   0.0
6   0.0
7   0.0
8   0.0
9   0.0
10  0.0
11  0.0
x1_bin   0    1    2    3    4    5    6    7    8    9    10        11  \
y1_bin
0       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.000000
1       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.000596
2       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.000000
3       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.001448
4       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.001764
5       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.002812
6       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.003984
7       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.000870
8       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.000000
9       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.000000
10      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.000000
11      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.000000

x1_bin        12        13        14        15
y1_bin
0       0.000000  0.000000  0.000000  0.000000
1       0.000000  0.000000  0.000000  0.000000
2       0.002132  0.000000  0.000000  0.000000
3       0.007085  0.007905  0.015517  0.002257
4       0.007163  0.046036  0.063260  0.071429
5       0.025135  0.072874  0.179724  0.336842
6       0.015986  0.064646  0.141049  0.319372
7       0.006766  0.029777  0.073286  0.050847
8       0.003806  0.001901  0.016313  0.008333
9       0.001082  0.000000  0.000000  0.000000
10      0.000741  0.001020  0.000000  0.000000
11      0.000000  0.000000  0.000000  0.000000
Iteration no. 2
              0             1         2         3         4         5   \
0   0.000000e+00  3.472843e-07  0.000021  0.000041  0.000234  0.000609
1   0.000000e+00  9.218065e-06  0.000025  0.000197  0.000577  0.000513
2   1.536297e-06  1.326474e-05  0.000108  0.000207  0.000061  0.000366
3   0.000000e+00  1.565720e-04  0.000036  0.000141  0.000630  0.000789
4   2.639542e-05  5.778414e-05  0.000323  0.000769  0.000604  0.000531
5   3.353463e-04  1.695039e-04  0.000888  0.000244  0.000451  0.000479
6   1.482135e-04  2.752920e-04  0.000830  0.000286  0.000329  0.000166
7   7.162811e-07  4.918880e-06  0.000222  0.000212  0.000225  0.000420
8   0.000000e+00  9.782944e-06  0.000080  0.000587  0.000352  0.000284
9   0.000000e+00  2.770070e-06  0.000056  0.000042  0.000357  0.000541
10  0.000000e+00  0.000000e+00  0.000004  0.000031  0.000273  0.000356
11  0.000000e+00  2.922448e-05  0.000001  0.000017  0.000244  0.000343

          6         7         8         9         10        11        12  \
0   0.001178  0.000855  0.001791  0.002287  0.004998  0.010384  0.020713
1   0.001157  0.000869  0.001239  0.001826  0.005465  0.015938  0.024039
2   0.001166  0.001357  0.001209  0.002091  0.006729  0.020201  0.026126
3   0.001525  0.001387  0.001700  0.003162  0.006438  0.017072  0.024568
4   0.000786  0.001318  0.001113  0.002187  0.006370  0.014772  0.011946
5   0.000329  0.000906  0.001627  0.000797  0.005680  0.012684  0.009099
6   0.000687  0.001296  0.001403  0.001083  0.005461  0.012417  0.010236
7   0.000630  0.001133  0.000969  0.002287  0.008700  0.011240  0.012651
8   0.001040  0.000625  0.001002  0.003773  0.006322  0.016562  0.017967
9   0.000362  0.000881  0.000693  0.001622  0.004546  0.015647  0.019303
10  0.000559  0.000855  0.000813  0.001810  0.003132  0.011299  0.020936
11  0.000745  0.000581  0.001278  0.002151  0.003698  0.009213  0.016991

          13        14        15
0   0.021486  0.017300  0.169575
1   0.024693  0.036829  0.028153
2   0.015712  0.033700  0.031165
3   0.013567  0.027776  0.050021
4   0.009974  0.013554  0.014006
5   0.011388  0.007438  0.002061
6   0.008589  0.004731  0.003517
7   0.008808  0.011975  0.014736
8   0.012560  0.025864  0.048833
9   0.018085  0.036732  0.031311
10  0.025561  0.032105  0.023115
11  0.018381  0.016399  0.186026
x1_bin            0             1         2         3         4         5   \
y1_bin
0       0.000000e+00  3.472843e-07  0.000021  0.000041  0.000234  0.000609
1       0.000000e+00  9.218065e-06  0.000025  0.000197  0.000577  0.000513
2       1.536297e-06  1.326474e-05  0.000108  0.000207  0.000061  0.000366
3       0.000000e+00  1.565720e-04  0.000036  0.000141  0.000630  0.000789
4       2.639542e-05  5.778414e-05  0.000323  0.000769  0.000604  0.000531
5       3.353463e-04  1.695039e-04  0.000888  0.000244  0.000451  0.000479
6       1.482135e-04  2.752920e-04  0.000830  0.000286  0.000329  0.000166
7       7.162811e-07  4.918880e-06  0.000222  0.000212  0.000225  0.000420
8       0.000000e+00  9.782944e-06  0.000080  0.000587  0.000352  0.000284
9       0.000000e+00  2.770070e-06  0.000056  0.000042  0.000357  0.000541
10      0.000000e+00  0.000000e+00  0.000004  0.000031  0.000273  0.000356
11      0.000000e+00  2.922448e-05  0.000001  0.000017  0.000244  0.000343

x1_bin        6         7         8         9         10        11        12  \
y1_bin
0       0.001178  0.000855  0.001791  0.002287  0.004998  0.010379  0.020713
1       0.001157  0.000869  0.001238  0.001826  0.005465  0.016524  0.024039
2       0.001166  0.001356  0.001209  0.002091  0.006729  0.020162  0.027952
3       0.001525  0.001387  0.001700  0.003160  0.006434  0.018187  0.028420
4       0.000786  0.001318  0.001113  0.002187  0.006360  0.015546  0.015960
5       0.000329  0.000906  0.001625  0.000797  0.005665  0.013641  0.030378
6       0.000687  0.001295  0.001403  0.001079  0.005421  0.014806  0.022385
7       0.000630  0.001133  0.000969  0.002283  0.008688  0.011239  0.015873
8       0.001040  0.000625  0.001001  0.003771  0.006322  0.016137  0.018935
9       0.000362  0.000880  0.000693  0.001622  0.004541  0.015559  0.020114
10      0.000559  0.000854  0.000812  0.001809  0.003130  0.011299  0.021631
11      0.000745  0.000581  0.001278  0.002151  0.003698  0.009213  0.016991

x1_bin        13        14        15
y1_bin
0       0.021486  0.017300  0.169575
1       0.024667  0.036829  0.028153
2       0.015406  0.032794  0.030999
3       0.018121  0.035823  0.047875
4       0.051010  0.068965  0.077514
5       0.077600  0.180615  0.336940
6       0.067822  0.141588  0.319630
7       0.034432  0.078127  0.057757
8       0.010951  0.035173  0.052690
9       0.017401  0.036265  0.030971
10      0.026477  0.032027  0.022993
11      0.018381  0.016399  0.186026
Iteration no. 3
          0         1         2         3         4         5         6   \
0   0.000035  0.000132  0.000289  0.000843  0.001974  0.004381  0.006471
1   0.000051  0.000300  0.000430  0.001111  0.002828  0.004065  0.005425
2   0.000049  0.000271  0.000406  0.001077  0.001905  0.004188  0.004432
3   0.000099  0.000670  0.000793  0.001968  0.002517  0.004617  0.006590
4   0.000493  0.000662  0.001409  0.002035  0.002850  0.005179  0.004768
5   0.002702  0.001461  0.004017  0.001290  0.002468  0.003547  0.002958
6   0.002487  0.001096  0.002791  0.001125  0.002713  0.005386  0.002822
7   0.000345  0.000360  0.001130  0.001127  0.002307  0.003558  0.004028
8   0.000096  0.000295  0.000537  0.001607  0.004115  0.003525  0.005581
9   0.000028  0.000149  0.000314  0.000625  0.002510  0.004017  0.002781
10  0.000041  0.000170  0.000244  0.000660  0.002108  0.003065  0.007540
11  0.000036  0.000144  0.000240  0.000631  0.001489  0.002825  0.005293

          7         8         9         10        11        12        13  \
0   0.006603  0.007915  0.016907  0.022075  0.039122  0.055191  0.054160
1   0.004328  0.006326  0.010721  0.020566  0.036123  0.050190  0.043980
2   0.004639  0.006376  0.011425  0.021062  0.042246  0.043439  0.025293
3   0.007736  0.006803  0.014437  0.021783  0.036844  0.040563  0.021353
4   0.004293  0.004406  0.009525  0.019451  0.028122  0.019900  0.012944
5   0.006258  0.009535  0.004531  0.015643  0.024559  0.013321  0.013494
6   0.007335  0.008122  0.004354  0.015626  0.022840  0.014488  0.010768
7   0.004082  0.005638  0.008320  0.021754  0.024608  0.020484  0.011675
8   0.004927  0.007336  0.015700  0.020541  0.038440  0.034557  0.018085
9   0.004354  0.004709  0.009305  0.015992  0.035217  0.036898  0.028007
10  0.003144  0.004949  0.011297  0.015518  0.029921  0.044451  0.043840
11  0.004080  0.006428  0.014489  0.019221  0.032930  0.045076  0.057909

          14        15
0   0.051969  0.236013
1   0.055043  0.043851
2   0.045893  0.043285
3   0.036036  0.061690
4   0.014733  0.014342
5   0.007931  0.002073
6   0.005273  0.003546
7   0.013227  0.015304
8   0.032375  0.060007
9   0.049738  0.042621
10  0.051044  0.034322
11  0.048277  0.242888
x1_bin        0         1         2         3         4         5         6   \
y1_bin
0       0.000035  0.000132  0.000289  0.000843  0.001974  0.004381  0.006467
1       0.000051  0.000300  0.000430  0.001111  0.002828  0.004065  0.005425
2       0.000049  0.000271  0.000406  0.001077  0.001905  0.004188  0.004432
3       0.000099  0.000670  0.000793  0.001968  0.002517  0.004617  0.006590
4       0.000493  0.000662  0.001409  0.002035  0.002850  0.005179  0.004768
5       0.002702  0.001461  0.004017  0.001290  0.002468  0.003547  0.002958
6       0.002487  0.001096  0.002791  0.001125  0.002713  0.005386  0.002822
7       0.000345  0.000360  0.001130  0.001127  0.002307  0.003558  0.004028
8       0.000096  0.000295  0.000537  0.001607  0.004115  0.003525  0.005581
9       0.000028  0.000149  0.000314  0.000625  0.002510  0.004017  0.002781
10      0.000041  0.000170  0.000244  0.000660  0.002108  0.003065  0.007540
11      0.000036  0.000144  0.000240  0.000631  0.001489  0.002825  0.005293

x1_bin        7         8         9         10        11        12        13  \
y1_bin
0       0.006603  0.007915  0.016907  0.022075  0.039103  0.055191  0.054160
1       0.004328  0.006322  0.010721  0.020566  0.036697  0.050190  0.043932
2       0.004635  0.006376  0.011425  0.021062  0.042163  0.045062  0.024801
3       0.007736  0.006803  0.014429  0.021770  0.037572  0.042311  0.023983
4       0.004293  0.004406  0.009525  0.019422  0.028001  0.021818  0.052491
5       0.006255  0.009524  0.004531  0.015600  0.023780  0.032812  0.078474
6       0.007331  0.008122  0.004337  0.015514  0.023889  0.025044  0.068627
7       0.004082  0.005638  0.008307  0.021723  0.023573  0.021512  0.035947
8       0.004927  0.007332  0.015693  0.020541  0.037453  0.032905  0.014932
9       0.004351  0.004705  0.009305  0.015973  0.035018  0.037462  0.026948
10      0.003142  0.004946  0.011292  0.015510  0.029921  0.045093  0.044681
11      0.004077  0.006428  0.014489  0.019221  0.032930  0.045076  0.057909

x1_bin        14        15
y1_bin
0       0.051969  0.236013
1       0.055043  0.043851
2       0.044659  0.043054
3       0.041861  0.058517
4       0.069462  0.077661
5       0.180674  0.336940
6       0.141650  0.319632
7       0.078633  0.058024
8       0.039921  0.062840
9       0.049105  0.042157
10      0.050920  0.034142
11      0.048277  0.242888
Iteration no. 4

          0         1         2         3         4         5         6   \
0   0.000252  0.000862  0.001373  0.003340  0.006472  0.011317  0.014737
1   0.000297  0.001300  0.001673  0.003786  0.006998  0.010069  0.012685
2   0.000254  0.001278  0.001425  0.003561  0.006316  0.010080  0.011331
3   0.000605  0.002348  0.002735  0.005706  0.007438  0.012034  0.015706
4   0.001796  0.002623  0.003901  0.005085  0.007628  0.012491  0.011469
5   0.008835  0.004905  0.009330  0.003703  0.007424  0.010172  0.006691
6   0.008503  0.003855  0.007236  0.003419  0.007522  0.012547  0.006361
7   0.001494  0.001793  0.003266  0.003772  0.006831  0.009964  0.010752
8   0.000536  0.001673  0.002165  0.004716  0.009677  0.010795  0.014236
9   0.000206  0.000920  0.001190  0.002796  0.006502  0.009209  0.008481
10  0.000294  0.000971  0.001294  0.002663  0.005568  0.007976  0.014795
11  0.000238  0.000763  0.001273  0.002803  0.005241  0.008520  0.012303

          7         8         9         10        11        12        13  \
0   0.014433  0.017647  0.035583  0.044106  0.066182  0.081605  0.077764
1   0.010177  0.014464  0.023952  0.038461  0.056571  0.069414  0.057518
2   0.010611  0.014054  0.024254  0.037660  0.061262  0.054824  0.030290
3   0.016800  0.016474  0.029128  0.038976  0.052503  0.049514  0.024925
4   0.010031  0.010724  0.019756  0.032699  0.038716  0.024284  0.014041
5   0.015806  0.020767  0.009149  0.026135  0.033256  0.015595  0.014303
6   0.016600  0.017699  0.008471  0.026107  0.030916  0.016755  0.011574
7   0.009455  0.012485  0.017407  0.035326  0.035392  0.024934  0.012719
8   0.013039  0.017346  0.030855  0.036837  0.055639  0.043891  0.020624
9   0.009761  0.011328  0.020952  0.030852  0.053992  0.048668  0.033298
10  0.008250  0.012058  0.024747  0.031534  0.049215  0.062656  0.056808
11  0.009974  0.014824  0.030242  0.039411  0.056777  0.068711  0.081538

          14        15
0   0.074007  0.265708
1   0.065639  0.051583
2   0.051065  0.047418
3   0.038989  0.065027
4   0.015089  0.014393
5   0.008103  0.002074
6   0.005475  0.003549
7   0.013646  0.015464
8   0.034827  0.063284
9   0.055577  0.046701
10  0.062615  0.040148
11  0.068116  0.265528
x1_bin        0         1         2         3         4         5         6   \
y1_bin
0       0.000252  0.000862  0.001373  0.003340  0.006472  0.011317  0.014729
1       0.000297  0.001300  0.001673  0.003786  0.006998  0.010069  0.012685
2       0.000254  0.001278  0.001425  0.003561  0.006316  0.010080  0.011331
3       0.000605  0.002348  0.002735  0.005706  0.007438  0.012034  0.015706
4       0.001796  0.002623  0.003901  0.005085  0.007628  0.012491  0.011469
5       0.008835  0.004905  0.009330  0.003703  0.007424  0.010172  0.006691
6       0.008503  0.003855  0.007236  0.003419  0.007522  0.012547  0.006361
7       0.001494  0.001793  0.003266  0.003772  0.006831  0.009964  0.010752
8       0.000536  0.001673  0.002165  0.004716  0.009677  0.010795  0.014236
9       0.000206  0.000920  0.001190  0.002796  0.006502  0.009209  0.008481
10      0.000294  0.000971  0.001294  0.002663  0.005568  0.007976  0.014795
11      0.000238  0.000763  0.001273  0.002803  0.005241  0.008520  0.012303

x1_bin        7         8         9         10        11        12        13  \
y1_bin
0       0.014433  0.017647  0.035583  0.044106  0.066150  0.081605  0.077764
1       0.010177  0.014454  0.023952  0.038461  0.057133  0.069414  0.057456
2       0.010602  0.014054  0.024254  0.037660  0.061141  0.056314  0.029701
3       0.016800  0.016474  0.029112  0.038953  0.052925  0.050084  0.026673
4       0.010031  0.010724  0.019756  0.032651  0.037885  0.025046  0.053038
5       0.015798  0.020744  0.009149  0.026063  0.031206  0.034122  0.078810
6       0.016591  0.017699  0.008438  0.025918  0.030927  0.026461  0.068925
7       0.009455  0.012485  0.017379  0.035276  0.033523  0.024716  0.036499
8       0.013039  0.017336  0.030840  0.036837  0.054212  0.040765  0.016762
9       0.009753  0.011319  0.020952  0.030815  0.053686  0.049065  0.032039
10      0.008244  0.012050  0.024735  0.031517  0.049215  0.063258  0.057597
11      0.009967  0.014824  0.030242  0.039411  0.056777  0.068711  0.081538

x1_bin        14        15
y1_bin
0       0.074007  0.265708
1       0.065639  0.051583
2       0.049692  0.047165
3       0.044020  0.061560
4       0.069611  0.077682
5       0.180694  0.336940
6       0.141673  0.319632
7       0.078802  0.058099
8       0.041709  0.065816
9       0.054870  0.046193
10      0.062464  0.039937
11      0.068116  0.265528
Iteration no. 5
          0         1         2         3         4         5         6   \
0   0.000828  0.002543  0.003652  0.007795  0.013633  0.020894  0.025415
1   0.000841  0.003283  0.004089  0.008307  0.013324  0.018302  0.022191
2   0.000703  0.003383  0.003456  0.008025  0.013326  0.018250  0.020604
3   0.001702  0.005673  0.006295  0.012162  0.015491  0.022664  0.027817
4   0.003844  0.006209  0.007815  0.010247  0.015109  0.022571  0.020372
5   0.018321  0.011010  0.017235  0.007616  0.014741  0.019497  0.011526
6   0.017724  0.009210  0.014099  0.007174  0.014697  0.021808  0.010956
7   0.003501  0.004641  0.006628  0.008510  0.014032  0.019352  0.019798
8   0.001488  0.004702  0.005325  0.010703  0.018179  0.021458  0.025836
9   0.000615  0.002658  0.002978  0.006945  0.012873  0.016493  0.016510
10  0.000921  0.002626  0.003449  0.006176  0.010964  0.014891  0.023583
11  0.000794  0.002249  0.003352  0.006735  0.011446  0.016679  0.021396

          7         8         9         10        11        12        13  \
0   0.023597  0.029002  0.054983  0.065006  0.087997  0.100036  0.092737
1   0.017617  0.024087  0.038428  0.054961  0.073038  0.082512  0.066064
2   0.018136  0.022990  0.037736  0.052428  0.075543  0.062206  0.033051
3   0.027618  0.028053  0.044355  0.054115  0.063962  0.054891  0.026740
4   0.017351  0.018179  0.030381  0.044351  0.046600  0.026909  0.014552
5   0.028164  0.033530  0.013868  0.035413  0.039525  0.016967  0.014701
6   0.028373  0.028664  0.012659  0.035272  0.036792  0.018111  0.011967
7   0.016509  0.020460  0.027064  0.047184  0.043406  0.027682  0.013231
8   0.023383  0.029254  0.046592  0.051638  0.068235  0.049595  0.022000
9   0.016501  0.019295  0.033610  0.044743  0.068367  0.056220  0.036175
10  0.014986  0.020672  0.039526  0.046864  0.064833  0.075099  0.064786
11  0.017515  0.024707  0.047143  0.059150  0.076513  0.085787  0.095936

          14        15
0   0.086888  0.280268
1   0.071766  0.055461
2   0.053608  0.049118
3   0.040319  0.066332
4   0.015237  0.014414
5   0.008180  0.002075
6   0.005577  0.003550
7   0.013842  0.015535
8   0.035995  0.064617
9   0.058574  0.048498
10  0.069263  0.043257
11  0.079671  0.276350
x1_bin        0         1         2         3         4         5         6   \
y1_bin
0       0.000828  0.002543  0.003652  0.007795  0.013633  0.020894  0.025403
1       0.000841  0.003283  0.004089  0.008307  0.013324  0.018302  0.022191
2       0.000703  0.003383  0.003456  0.008025  0.013326  0.018250  0.020604
3       0.001702  0.005673  0.006295  0.012162  0.015491  0.022664  0.027817
4       0.003844  0.006209  0.007815  0.010247  0.015109  0.022571  0.020372
5       0.018321  0.011010  0.017235  0.007616  0.014741  0.019497  0.011526
6       0.017724  0.009210  0.014099  0.007174  0.014697  0.021808  0.010956
7       0.003501  0.004641  0.006628  0.008510  0.014032  0.019352  0.019798
8       0.001488  0.004702  0.005325  0.010703  0.018179  0.021458  0.025836
9       0.000615  0.002658  0.002978  0.006945  0.012873  0.016493  0.016510
10      0.000921  0.002626  0.003449  0.006176  0.010964  0.014891  0.023583
11      0.000794  0.002249  0.003352  0.006735  0.011446  0.016679  0.021396

x1_bin        7         8         9         10        11        12        13  \
y1_bin
0       0.023597  0.029002  0.054983  0.065006  0.087954  0.100036  0.092737
1       0.017617  0.024070  0.038428  0.054961  0.073590  0.082512  0.065993
2       0.018121  0.022990  0.037736  0.052428  0.075394  0.063609  0.032408
3       0.027618  0.028053  0.044331  0.054082  0.064160  0.054753  0.028039
4       0.017351  0.018179  0.030381  0.044285  0.045240  0.026979  0.053293
5       0.028151  0.033493  0.013868  0.035316  0.036558  0.034913  0.078975
6       0.028359  0.028664  0.012611  0.035017  0.036049  0.027309  0.069071
7       0.016509  0.020460  0.027020  0.047117  0.040916  0.026694  0.036770
8       0.023383  0.029237  0.046570  0.051638  0.066484  0.045567  0.017753
9       0.016487  0.019279  0.033610  0.044688  0.067980  0.056511  0.034807
10      0.014974  0.020657  0.039506  0.046839  0.064833  0.075672  0.065542
11      0.017503  0.024707  0.047143  0.059150  0.076513  0.085787  0.095936

x1_bin        14        15
y1_bin
0       0.086888  0.280268
1       0.071766  0.055461
2       0.052167  0.048856
3       0.044991  0.062750
4       0.069674  0.077692
5       0.180704  0.336940
6       0.141684  0.319632
7       0.078882  0.058132
8       0.042561  0.067027
9       0.057829  0.047970
10      0.069095  0.043029
11      0.079671  0.276350
60.230582800002594

In [364]:
xT_final

x1_bin,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
y1_bin,,,,,,,,,,,,,,,,
0,0.000828,0.002543,0.003652,0.007795,0.013633,0.020894,0.025403,0.023597,0.029002,0.054983,0.065006,0.087954,0.100036,0.092737,0.086888,0.280268
1,0.000841,0.003283,0.004089,0.008307,0.013324,0.018302,0.022191,0.017617,0.024070,0.038428,0.054961,0.073590,0.082512,0.065993,0.071766,0.055461
2,0.000703,0.003383,0.003456,0.008025,0.013326,0.018250,0.020604,0.018121,0.022990,0.037736,0.052428,0.075394,0.063609,0.032408,0.052167,0.048856
3,0.001702,0.005673,0.006295,0.012162,0.015491,0.022664,0.027817,0.027618,0.028053,0.044331,0.054082,0.064160,0.054753,0.028039,0.044991,0.062750
4,0.003844,0.006209,0.007815,0.010247,0.015109,0.022571,0.020372,0.017351,0.018179,0.030381,0.044285,0.045240,0.026979,0.053293,0.069674,0.077692
5,0.018321,0.011010,0.017235,0.007616,0.014741,0.019497,0.011526,0.028151,0.033493,0.013868,0.035316,0.036558,0.034913,0.078975,0.180704,0.336940
6,0.017724,0.009210,0.014099,0.007174,0.014697,0.021808,0.010956,0.028359,0.028664,0.012611,0.035017,0.036049,0.027309,0.069071,0.141684,0.319632
7,0.003501,0.004641,0.006628,0.008510,0.014032,0.019352,0.019798,0.016509,0.020460,0.027020,0.047117,0.040916,0.026694,0.036770,0.078882,0.058132
8,0.001488,0.004702,0.005325,0.010703,0.018179,0.021458,0.025836,0.023383,0.029237,0.046570,0.051638,0.066484,0.045567,0.017753,0.042561,0.067027
9,0.000615,0.002658,0.002978,0.006945,0.012873,0.016493,0.016510,0.016487,0.019279,0.033610,0.044688,0.067980,0.056511,0.034807,0.057829,0.047970
10,0.000921,0.002626,0.003449,0.006176,0.010964,0.014891,0.023583,0.014974,0.020657,0.039506,0.046839,0.064833,0.075672,0.065542,0.069095,0.043029
11,0.000794,0.002249,0.003352,0.006735,0.011446,0.016679,0.021396,0.017503,0.024707,0.047143,0.059150,0.076513,0.085787,0.095936,0.079671,0.276350

In [365]:
xT_final.sum().sum()

7.237433786969443

In [366]:
xT_zw

x1_bin,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
y1_bin,,,,,,,,,,,,,,,,
0,0.000828,0.002543,0.003652,0.007795,0.013633,0.020894,0.025403,0.023597,0.029002,0.054983,0.065006,0.087954,0.100036,0.092737,0.086888,0.280268
1,0.000841,0.003283,0.004089,0.008307,0.013324,0.018302,0.022191,0.017617,0.024070,0.038428,0.054961,0.073590,0.082512,0.065993,0.071766,0.055461
2,0.000703,0.003383,0.003456,0.008025,0.013326,0.018250,0.020604,0.018121,0.022990,0.037736,0.052428,0.075394,0.063609,0.032408,0.052167,0.048856
3,0.001702,0.005673,0.006295,0.012162,0.015491,0.022664,0.027817,0.027618,0.028053,0.044331,0.054082,0.064160,0.054753,0.028039,0.044991,0.062750
4,0.003844,0.006209,0.007815,0.010247,0.015109,0.022571,0.020372,0.017351,0.018179,0.030381,0.044285,0.045240,0.026979,0.053293,0.069674,0.077692
5,0.018321,0.011010,0.017235,0.007616,0.014741,0.019497,0.011526,0.028151,0.033493,0.013868,0.035316,0.036558,0.034913,0.078975,0.180704,0.336940
6,0.017724,0.009210,0.014099,0.007174,0.014697,0.021808,0.010956,0.028359,0.028664,0.012611,0.035017,0.036049,0.027309,0.069071,0.141684,0.319632
7,0.003501,0.004641,0.006628,0.008510,0.014032,0.019352,0.019798,0.016509,0.020460,0.027020,0.047117,0.040916,0.026694,0.036770,0.078882,0.058132
8,0.001488,0.004702,0.005325,0.010703,0.018179,0.021458,0.025836,0.023383,0.029237,0.046570,0.051638,0.066484,0.045567,0.017753,0.042561,0.067027
9,0.000615,0.002658,0.002978,0.006945,0.012873,0.016493,0.016510,0.016487,0.019279,0.033610,0.044688,0.067980,0.056511,0.034807,0.057829,0.047970
10,0.000921,0.002626,0.003449,0.006176,0.010964,0.014891,0.023583,0.014974,0.020657,0.039506,0.046839,0.064833,0.075672,0.065542,0.069095,0.043029
11,0.000794,0.002249,0.003352,0.006735,0.011446,0.016679,0.021396,0.017503,0.024707,0.047143,0.059150,0.076513,0.085787,0.095936,0.079671,0.276350

In [367]:
t_xy_zw_final

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.000828,0.002543,0.003652,0.007795,0.013633,0.020894,0.025415,0.023597,0.029002,0.054983,0.065006,0.087997,0.100036,0.092737,0.086888,0.280268
1,0.000841,0.003283,0.004089,0.008307,0.013324,0.018302,0.022191,0.017617,0.024087,0.038428,0.054961,0.073038,0.082512,0.066064,0.071766,0.055461
2,0.000703,0.003383,0.003456,0.008025,0.013326,0.018250,0.020604,0.018136,0.022990,0.037736,0.052428,0.075543,0.062206,0.033051,0.053608,0.049118
3,0.001702,0.005673,0.006295,0.012162,0.015491,0.022664,0.027817,0.027618,0.028053,0.044355,0.054115,0.063962,0.054891,0.026740,0.040319,0.066332
4,0.003844,0.006209,0.007815,0.010247,0.015109,0.022571,0.020372,0.017351,0.018179,0.030381,0.044351,0.046600,0.026909,0.014552,0.015237,0.014414
5,0.018321,0.011010,0.017235,0.007616,0.014741,0.019497,0.011526,0.028164,0.033530,0.013868,0.035413,0.039525,0.016967,0.014701,0.008180,0.002075
6,0.017724,0.009210,0.014099,0.007174,0.014697,0.021808,0.010956,0.028373,0.028664,0.012659,0.035272,0.036792,0.018111,0.011967,0.005577,0.003550
7,0.003501,0.004641,0.006628,0.008510,0.014032,0.019352,0.019798,0.016509,0.020460,0.027064,0.047184,0.043406,0.027682,0.013231,0.013842,0.015535
8,0.001488,0.004702,0.005325,0.010703,0.018179,0.021458,0.025836,0.023383,0.029254,0.046592,0.051638,0.068235,0.049595,0.022000,0.035995,0.064617
9,0.000615,0.002658,0.002978,0.006945,0.012873,0.016493,0.016510,0.016501,0.019295,0.033610,0.044743,0.068367,0.056220,0.036175,0.058574,0.048498
10,0.000921,0.002626,0.003449,0.006176,0.010964,0.014891,0.023583,0.014986,0.020672,0.039526,0.046864,0.064833,0.075099,0.064786,0.069263,0.043257
11,0.000794,0.002249,0.003352,0.006735,0.011446,0.016679,0.021396,0.017515,0.024707,0.047143,0.059150,0.076513,0.085787,0.095936,0.079671,0.276350

In [368]:
w

11

In [369]:
t_xy_zw

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003636,0.003636,0.003636,NaN,NaN,0.007273
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007273,0.003636,NaN,0.025455,0.003636,0.007273,0.010909
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003636,NaN,NaN,0.003636,0.007273,0.007273,0.010909
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007273,NaN,NaN,NaN,0.003636,0.014545,0.014545
4,NaN,NaN,NaN,NaN,NaN,0.007273,0.003636,NaN,NaN,0.003636,0.007273,NaN,NaN,0.003636,NaN,NaN
5,NaN,NaN,0.003636,NaN,NaN,NaN,NaN,0.003636,0.003636,0.003636,0.003636,NaN,0.003636,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,0.010909,0.003636,0.010909,0.007273,NaN,NaN,NaN,NaN,0.003636,NaN,NaN
7,NaN,NaN,NaN,NaN,0.003636,0.003636,NaN,0.003636,NaN,NaN,0.003636,0.003636,NaN,NaN,0.000000,NaN
8,NaN,NaN,NaN,NaN,0.010909,0.003636,NaN,NaN,NaN,0.010909,0.003636,0.007273,NaN,NaN,NaN,0.000000
9,NaN,NaN,NaN,NaN,0.003636,0.007273,NaN,0.003636,0.003636,0.007273,NaN,0.003636,0.018182,0.003636,0.003636,0.007273
10,NaN,NaN,NaN,NaN,0.003636,0.003636,0.021818,NaN,0.003636,0.010909,0.010909,0.014545,0.025455,0.000000,0.010909,0.014545
11,NaN,NaN,NaN,NaN,NaN,NaN,0.007273,0.003636,0.003636,0.021818,0.014545,0.040000,0.040000,0.101818,0.083636,0.214545

In [370]:
shoot_matrix.values*goal_matrix.values

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.00059559, 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.0021322 , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.00144823, 0.00708502, 0.00790514, 0.01551724,
        0.00225734],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.00176367, 0.00716332, 0.04603581, 0.06326034,
        0.07142857],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.00281162, 0.02513465, 0.07287449, 0.1797235 ,
        0.33684211],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.00398406, 0.01598579, 0.06464646, 0.14104882,
        0.31937173],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.00086957, 0.0067659 , 0.02977667, 0.07328605,
        0.05084746],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.0038059 , 0.00190114, 0.01631321,
        0.00833333],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.00108225, 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.00074074, 0.00102041, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ]])

In [371]:
(move_matrix*t_xy_zw_final)

x1_bin,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
y1_bin,,,,,,,,,,,,,,,,
0,0.000828,0.002543,0.003652,0.007795,0.013633,0.020894,0.025403,0.023597,0.029002,0.054983,0.065006,0.087954,0.100036,0.092737,0.086888,0.280268
1,0.000841,0.003283,0.004089,0.008307,0.013324,0.018302,0.022191,0.017617,0.024070,0.038428,0.054961,0.072995,0.082512,0.065993,0.071766,0.055461
2,0.000703,0.003383,0.003456,0.008025,0.013326,0.018250,0.020604,0.018121,0.022990,0.037736,0.052428,0.075394,0.061476,0.032408,0.052167,0.048856
3,0.001702,0.005673,0.006295,0.012162,0.015491,0.022664,0.027817,0.027618,0.028053,0.044331,0.054082,0.062712,0.047668,0.020134,0.029474,0.060492
4,0.003844,0.006209,0.007815,0.010247,0.015109,0.022571,0.020372,0.017351,0.018179,0.030381,0.044285,0.043477,0.019816,0.007257,0.006413,0.006263
5,0.018321,0.011010,0.017235,0.007616,0.014741,0.019497,0.011526,0.028151,0.033493,0.013868,0.035316,0.033747,0.009778,0.006100,0.000980,0.000098
6,0.017724,0.009210,0.014099,0.007174,0.014697,0.021808,0.010956,0.028359,0.028664,0.012611,0.035017,0.032065,0.011324,0.004424,0.000635,0.000260
7,0.003501,0.004641,0.006628,0.008510,0.014032,0.019352,0.019798,0.016509,0.020460,0.027020,0.047117,0.040046,0.019928,0.006993,0.005596,0.007285
8,0.001488,0.004702,0.005325,0.010703,0.018179,0.021458,0.025836,0.023383,0.029237,0.046570,0.051638,0.066484,0.041761,0.015851,0.026248,0.058693
9,0.000615,0.002658,0.002978,0.006945,0.012873,0.016493,0.016510,0.016487,0.019279,0.033610,0.044688,0.067980,0.055429,0.034807,0.057829,0.047970
10,0.000921,0.002626,0.003449,0.006176,0.010964,0.014891,0.023583,0.014974,0.020657,0.039506,0.046839,0.064833,0.074932,0.064521,0.069095,0.043029
11,0.000794,0.002249,0.003352,0.006735,0.011446,0.016679,0.021396,0.017503,0.024707,0.047143,0.059150,0.076513,0.085787,0.095936,0.079671,0.276350

In [372]:
move_matrix

x1_bin,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
y1_bin,,,,,,,,,,,,,,,,
0,1.0,1.0,1.0,1.0,1.0,1.0,0.999497,1.000000,1.000000,1.000000,1.000000,0.999518,1.000000,1.000000,1.000000,1.000000
1,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,0.999266,1.000000,1.000000,0.999404,1.000000,0.998924,1.000000,1.000000
2,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999165,1.000000,1.000000,1.000000,0.998035,0.988273,0.980535,0.973109,0.994667
3,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,0.999455,0.999392,0.980449,0.868421,0.752964,0.731034,0.911964
4,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,0.998519,0.932981,0.736390,0.498721,0.420925,0.434524
5,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999511,0.998891,1.000000,0.997248,0.853796,0.576302,0.414980,0.119816,0.047368
6,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999496,1.000000,0.996190,0.992793,0.871514,0.625222,0.369697,0.113924,0.073298
7,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.000000,0.998366,0.998580,0.922609,0.719892,0.528536,0.404255,0.468927
8,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,0.999425,0.999513,1.000000,0.974343,0.842055,0.720532,0.729201,0.908333
9,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999148,0.999196,1.000000,0.998773,0.994336,0.985931,0.962185,0.987281,0.989130
10,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999205,0.999283,0.999514,0.999457,1.000000,0.997778,0.995918,0.997579,0.994737
11,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.999339,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [373]:
xT_final.to_csv("../data/xT_Grid.csv")